# Part 3: Feature Engineering & Data Prep

## Goal
In this notebook, I'm building the final dataset for the machine learning model. The idea is to create "features" that help predict crop yield.

I'm going to create three main types of features:
1.  **Historical Yields (Lags):** Looking at how well the crop did in previous years (1, 3, and 5-year averages).
2.  **Weather Cycles:** Instead of just average temperatures, I'll use Sine and Cosine functions to capture seasonal patterns (Winter, Spring, etc.) better.
3.  **Farming Info & Location:** Adding data on fertilizers, pesticides, and GPS coordinates.

In [80]:
import pandas as pd
import numpy as np
from functools import reduce

### 1. Loading the Data
First, I'll load the clean datasets I made in Part 1 (`nasa_df` for weather and `label_yield` for crops). I'll also do a quick cleanup on the crop names to make sure they are consistent.

In [81]:
# Loading the parquet files
nasa_df = pd.read_parquet('Parquet/nasa_df.parquet')
label_yield = pd.read_parquet('Parquet/label_yield.parquet')

# Cleaning crop names (removing special chars and lowercasing)
label_yield['item'] = label_yield['item'].str.replace(r'[^0-9a-zA-Z ]', '', regex=True)
label_yield['item'] = label_yield['item'].str.replace(" ", "_").str.lower()

# Getting a list of all crops to loop through later
crop_list = list(label_yield['item'].unique())
print(crop_list)

['maize_corn', 'other_vegetables_fresh_nec', 'potatoes', 'rice', 'sugar_cane', 'wheat', 'oil_palm_fruit', 'barley', 'soya_beans', 'sugar_beet', 'watermelons', 'cucumbers_and_gherkins', 'tomatoes', 'bananas', 'cassava_fresh']

### 2. Creating "Lag" Features (Past Yields)
Since agriculture usually follows trends, knowing how a farm performed in the past is really helpful. 

I wrote a function `past_n_year_avg` to calculate:
* **Lag 1:** Yield from exactly 1 year ago.
* **Lag 3 & 5:** Average yield from the last 3 and 5 years.

This basically gives the model a "memory" of recent history.

In [82]:
def past_n_year_avg(df, crop_type, n):
    """
    Calculates the average yield for the past N years.
    If we don't have N full years of history, it returns NaN.
    """
    d = df[df['item'] == crop_type].copy()
    d['year'] = pd.to_datetime(d['year']).dt.year
    d = d.sort_values(['area', 'year'])

    def compute_avg(g):
        yrs = g['year'].values
        lbl = g['label'].values
        res = []

        for y in yrs:
            # look at only the past N years
            mask = (yrs >= y - n) & (yrs < y)
            vals = lbl[mask]

            # strict check: we need exactly N data points
            if len(vals) == n:
                res.append(vals.mean())
            else:
                res.append(np.nan)

        return pd.Series(res, index=g.index)

    # Apply the logic grouped by area
    d[f'avg_yield_{crop_type}_{n}y'] = (
        d.groupby('area', group_keys=False)
         .apply(compute_avg, include_groups=False)
    )

    return d[['year', 'area', f'avg_yield_{crop_type}_{n}y']]

#### Running Lags for All Crops
Now I'll just loop through the list of crops and apply the function. Then I'll merge everything into one dataframe called `features_lag_yield`.

In [83]:
# Generate lags for every crop
dfs = []
for crop in crop_list:
    for n in [1, 2, 3]:
        dfs.append(past_n_year_avg(label_yield, crop, n))

# Merge all the results together
features_lag_yield = reduce(
    lambda left, right: pd.merge(left, right, how='left', on=['year', 'area']),
    dfs
)

### 3. Weather Features (Sin/Cos Transformation)

Instead of manually grouping months into seasons like "Winter" or "Summer", I'm using **Sine and Cosine transformations**.

The idea is to:
1.  **Pivot** the data so each month is a column.
2.  **Calculate Harmonics:** Use Sin/Cos weights to capture the yearly cycle (seasonality) for Rain, Solar, and Temp.
3.  **Lag by 1 Year:** Shift everything so we are using *last year's* weather to predict this year's crop.

In [84]:
def prep_harmonic_weather_lag1year(nasa_df, var_list=['rain','solar','temp']):
    """
    Creates seasonal features using Sin/Cos to capture cyclic patterns.
    Returns: Annual Mean/Sum, Sin Component, Cos Component.
    """
    nasa_df['date'] = pd.to_datetime(nasa_df['date'])
    nasa_df['year'] = nasa_df['date'].dt.year
    nasa_df['month'] = nasa_df['date'].dt.month

    # Weights for the 12 months
    months = np.arange(1, 13)
    sin_weights = np.sin(2 * np.pi * months / 12)
    cos_weights = np.cos(2 * np.pi * months / 12)

    all_features = None

    for var in var_list:
        # Pivot so we have columns 1-12 for each year/area
        p = nasa_df.pivot_table(
            index=['area','year'],
            columns='month',
            values=var
        ).reset_index()

        # Shift year by +1 (Lagging)
        p['year'] = p['year'] + 1

        # Fill missing month columns with NaN just in case
        for m in range(1, 13):
            if m not in p.columns:
                p[m] = np.nan

        # Grab the data as a matrix
        matrix_data = p[range(1, 13)].values

        # --- Calculating the Features ---

        # 1. Base Feature (Sum for rain, Mean for temp/solar)
        if var == 'rain':
            p[f'{var}_annual'] = np.sum(matrix_data, axis=1)
        else:
            p[f'{var}_annual'] = np.mean(matrix_data, axis=1)
        
        # If any month is missing, set annual to NaN
        mask = np.isnan(matrix_data).any(axis=1)
        p.loc[mask, f'{var}_annual'] = np.nan

        # 2. Seasonality (Dot Product with weights)
        p[f'{var}_sin'] = matrix_data @ sin_weights
        p[f'{var}_cos'] = matrix_data @ cos_weights

        # Handle NaNs for sin/cos too
        p.loc[mask, f'{var}_sin'] = np.nan
        p.loc[mask, f'{var}_cos'] = np.nan

        # Keep only the columns we need
        cols_keep = ['area', 'year', f'{var}_annual', f'{var}_sin', f'{var}_cos']
        p_final = p[cols_keep]

        if all_features is None:
            all_features = p_final
        else:
            all_features = all_features.merge(p_final, on=['area', 'year'], how='outer')

    return all_features

In [85]:
# Run the weather processing
nasa_f = prep_harmonic_weather_lag1year(nasa_df, var_list=['rain','solar','temp'])

# Check what columns we got
print(nasa_f.columns.tolist())

#nasa_f.to_csv('Data/nasa_df.csv', index=False)

['area', 'year', 'rain_annual', 'rain_sin', 'rain_cos', 'solar_annual', 'solar_sin', 'solar_cos', 'temp_annual', 'temp_sin', 'temp_cos']

### 4. Adding Coordinates
I'm loading a separate file with Latitude and Longitude. This is important so the model knows which countries are neighbors.

In [86]:
import os

folder_path = 'Data/temperature_csv'
data = []

# Loop through all files in the folder
for f in os.listdir(folder_path):
    if f.endswith('.csv'):
        parts = f.split("_")
        
        # Parse from the back to handle country names with spaces/underscores
        # Format: Country_Name_Lat_Long_Type_Start_End.csv
        lat = parts[-5]
        long = parts[-4]
        country = " ".join(parts[:-5])
        
        data.append({
            'area': country, 
            'latitude': float(lat), 
            'longitude': float(long)
        })

# Create DataFrame
latlong = pd.DataFrame(data)

# Show result
latlong.head()

                  area  latitude  longitude
0          Afghanistan     34.53      69.17
1              Albania     41.33      19.82
2              Algeria     28.03       1.66
3               Angola    -11.20      17.87
4  Antigua and Barbuda     17.12     -61.85

### 5. Farming Inputs (Fertilizers & Pesticides)
Here I'm adding data on fertilizer and pesticide usage.

**Important:** I'm shifting this data by 1 year. The logic is that farmers usually plan inputs based on the previous year, or the inputs applied *before* the harvest season are what matter.

In [87]:
# 1. Load farming data
farming_df = pd.read_parquet('Parquet/farming_df.parquet')

# 2. Convert year to datetime for easier shifting
farming_df['year'] = pd.to_datetime(farming_df['year'])

# 3. Shift Year Forward by 1 (Lag 1)
# E.g., 2020 pesticides will be used for 2021 yield
farming_df['year'] = farming_df['year'] + pd.DateOffset(years=1)

# 4. Convert back to integer to match the main dataset
farming_df['year'] = farming_df['year'].dt.year

# 5. Rename columns so we know they are lagged
farming_df = farming_df.rename(columns={
    'pesticides': 'pesticides_lag1',
    'fertilizer': 'fertilizer_lag1'
})

### 6. Merging Everything
Now I'll combine all the features into one big dataframe:
**Yield Lags + Weather + Inputs + Location**

I'll also filter out years before 1982 because the 5-year lag calculation creates a lot of missing values for the early years.

In [88]:
# Merge Yield Lags + Weather
x_features = features_lag_yield.merge(
    nasa_f, on=['year', 'area'], how='left'
)

# Merge + Farming Data
x_features = x_features.merge(
    farming_df, on=['year', 'area'], how='left'
)

# Merge + Coordinates
x_features = x_features.merge(
    latlong, on=['area'], how='left'
)

# Show all columns to check if it worked
pd.set_option('display.max_columns', None)

# Checking a sample country (Thailand)
x_features[x_features['area'] == 'China, mainland'].head(20)

,year,area,avg_yield_maize_corn_1y,avg_yield_maize_corn_2y,avg_yield_maize_corn_3y,avg_yield_other_vegetables_fresh_nec_1y,avg_yield_other_vegetables_fresh_nec_2y,avg_yield_other_vegetables_fresh_nec_3y,avg_yield_potatoes_1y,avg_yield_potatoes_2y,avg_yield_potatoes_3y,avg_yield_rice_1y,avg_yield_rice_2y,avg_yield_rice_3y,avg_yield_sugar_cane_1y,avg_yield_sugar_cane_2y,avg_yield_sugar_cane_3y,avg_yield_wheat_1y,avg_yield_wheat_2y,avg_yield_wheat_3y,avg_yield_oil_palm_fruit_1y,avg_yield_oil_palm_fruit_2y,avg_yield_oil_palm_fruit_3y,avg_yield_barley_1y,avg_yield_barley_2y,avg_yield_barley_3y,avg_yield_soya_beans_1y,avg_yield_soya_beans_2y,avg_yield_soya_beans_3y,avg_yield_sugar_beet_1y,avg_yield_sugar_beet_2y,avg_yield_sugar_beet_3y,avg_yield_watermelons_1y,avg_yield_watermelons_2y,avg_yield_watermelons_3y,avg_yield_cucumbers_and_gherkins_1y,avg_yield_cucumbers_and_gherkins_2y,avg_yield_cucumbers_and_gherkins_3y,avg_yield_tomatoes_1y,avg_yield_tomatoes_2y,avg_yield_tomatoes_3y,avg_yield_bananas_1y,avg_yield_bananas_2y,avg_yield_bananas_3y,avg_yield_cassava_fresh_1y,avg_yield_cassava_fresh_2y,avg_yield_cassava_fresh_3y,rain_annual,rain_sin,rain_cos,solar_annual,solar_sin,solar_cos,temp_annual,temp_sin,temp_cos,pesticides_lag1,fertilizer_lag1,latitude,longitude
1694,1970,"China, mainland",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,103.0
1695,1971,"China, mainland",2088.5,NaN,NaN,15562.0,NaN,NaN,10750.0,NaN,NaN,3402.5,NaN,NaN,34745.7,NaN,NaN,1147.5,NaN,NaN,NaN,NaN,NaN,1139.5,NaN,NaN,1091.9,NaN,NaN,10582.8,NaN,NaN,16641.5,NaN,NaN,12375.0,NaN,NaN,24300.0,NaN,NaN,12769.2,NaN,NaN,11428.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.389605,35.0,103.0
1696,1972,"China, mainland",2145.6,2117.05,NaN,15702.0,15632.00,NaN,10476.2,10613.10,NaN,3302.6,3352.55,NaN,30842.0,32793.85,NaN,1271.8,1209.65,NaN,NaN,NaN,NaN,1260.7,1200.10,NaN,1106.1,1099.00,NaN,9690.4,10136.60,NaN,16793.1,16717.30,NaN,12500.0,12437.50,NaN,24545.5,24422.75,NaN,12600.0,12684.60,NaN,12000.0,11714.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.195245,35.0,103.0
1697,1973,"China, mainland",1923.8,2034.70,2052.633333,14755.2,15228.60,15339.733333,10217.4,10346.80,10481.200000,3228.8,3265.70,3311.300000,34437.4,32639.70,33341.700000,1369.5,1320.65,1262.933333,NaN,NaN,NaN,1268.2,1264.45,1222.800000,851.4,978.75,1016.466667,8730.8,9210.60,9668.000000,15814.8,16303.95,16416.466667,11698.1,12099.05,12191.033333,23187.5,23866.50,24011.000000,11400.0,12000.00,12256.400000,11875.0,11937.50,11767.866667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.330623,35.0,103.0
1698,1974,"China, mainland",2333.6,2128.70,2134.333333,15088.6,14921.90,15181.933333,13500.0,11858.70,11397.866667,3472.7,3350.75,3334.700000,33613.3,34025.35,32964.233333,1333.7,1351.60,1325.000000,NaN,NaN,NaN,1076.5,1172.35,1201.800000,1131.1,991.25,1029.533333,9388.4,9059.60,9269.866667,15900.0,15857.40,16169.300000,11796.6,11747.35,11998.233333,23352.9,23270.20,23695.300000,12384.6,11892.30,12128.200000,11764.7,11819.85,11879.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.806781,35.0,103.0
1699,1975,"China, mainland",2467.7,2400.65,2241.700000,15194.8,15141.70,15012.866667,13000.0,13250.00,12239.133333,3492.6,3482.65,3398.033333,33351.7,33482.50,33800.800000,1511.6,1422.65,1404.933333,NaN,NaN,NaN,1481.5,1279.00,1275.400000,1029.8,1080.45,1004.100000,8580.8,8984.60,8900.000000,16620.7,16260.35,16111.833333,12315.8,12056.20,11936.833333,24303.0,23827.95,23614.466667,12615.4,12500.00,12133.333333,11764.7,11764.70,11801.466667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.629088,35.0,103.0
1700,1976,"China, mainland",2541.6,2504.65,2447.633333,15379.7,15287.25,15221.033333,11571.4,12285.70,12690.466667,3517.8,3505.20,3494.366667,31849.8,32600.75,32938.266667,1639.7,1575.65,1495.000000,NaN,NaN,NaN,1760.6,1621.05,1439.533333,1035.5,1032.65,1065.466667,8181.0,8380.90,8716.733333,16600.0,16610.35,16373.566667,12305.1,12310.45,12139.166667,24235.3,24269.15,23963.733333,13750.0,13182.70,12916.666667,11666.7,11715.70,11732.033333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.642334,35.0,103.0
1701,1977,"China, mainland",2506.6,2524.10,2505.300000,15192.3,15286.00,15255.600000,11300.0,11435.70,11957.133333,3477.1,3497.45,3495.833333,30733.7,31291.75,31978.400000,1775.4,1707.55,1642.233333,NaN,NaN,NaN,2014.8,1887.70,1752.300000,993.4,1014.45,1019.566667,8224.4,8202.70,8328.733333,16600.0,16600.00,16606.900000,12305.1,12305.10,12308.666667,24235.3,24235.30,24257.866667,16000.0,14875.00,14121.800000,12222.2,11944.45,11884.533333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.320030,35.0,103.0
1702,1978,"China, mainland",2515.5,2511.05,2521.233333,15243.9,15218.10,15271.966667,13237.5,12268.75,12036.300000,3622.6,3549.85,3539.166667,35029.6,32881.65,32537.700000,1465.0,1620.20,1626.700000,NaN,NaN,NaN,1975.0,1994.90,1916.800000,1061.7,1027.55,1030.200000,6981.2,7602.80,7795.533333,16580.6,16590.30,16593.533333,12290.3,12297.70,12300.166667,24222.2,24228.75,24230.933333,14000.0,15000.00,14583.333333,12105.3,12163.75,11998.066667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.531309,35.0,103.0
1703,1979,"China, mainland",2803.0,2659.25,2608.366667,15142.0,15192.95,15192.733333,12748.2,12992.85,12428.566667,3978.1,3800.35,3692.600000,38499.6,36764.60,34754.300000,1844.9,1654.95,1695.100000,NaN,NaN,NaN,2229.5,2102.25,2073.100000,1059.6,1060.65,1038.233333,8165.6,7573.40,7790.400000,15714.3,16147.45,16298.300000,11331.4,11810.85,11975.600000,23636.4,23929.30,24031.300000,17000.0,15500.00,15666.666667,12500.0,12302.65,12275.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.630924,35.0,103.0
1704,1980,"China, mainland",2985.2,2894.10,2767.900000,16383.0,15762.50,15589.633333,11136.5,11942.35,12374.066667,4248.1,4113.10,3949.600000,42024.2,40261.90,38517.800000,2139.5,1992.20,1816.466667,NaN,NaN,NaN,2489.6,2359.55,2231.366667,1030.5,1045.05,1050.600000,9556.9,8861.25,8234.566667,15808.8,15761.55,16034.566667,11594.2,11462.80,11738.633333,22222.2,22929.30,23360.266667,15193.9,16096.95,15397.966667,14000.0,13250.00,12868.433333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.844942,35.0,103.0
1705,1981,"China, mainland",3078.9,3032.05,2955.700000,16166.3,16274.65,15897.100000,11243.5,11190.00,11709.400000,4133.8,4190.95,4120.000000,47613.8,44819.00,42712.533333,1891.4,2015.45,1958.600000,NaN,NaN,NaN,2180.9,2335.25,2300.000000,1099.9,1065.20,1063.333333,14255.0,11905.95,10659.166667,15313.4,15561.10,15612.166667,11205.9,11400.05,11377.166667,22391.3,22306.75,22749.966667,12260.0,13726.95,14817.966667,14601.8,14300.90,13700.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.445802,35.0,103.0
1706,1982,"China, mainland",3051.3,3065.10,3038.466667,18008.0,17087.15,16852.433333,10279.2,10761.35,10886.400000,4328.0,4230.90,4236.633333,53863.5,50738.65,47833.833333,2109.1,2000.25,2046.666667,NaN,NaN,NaN,2583.3,2382.10,2417.933333,1163.4,1131.65,1097.933333,14600.6,14427.80,12804.166667,16397.3,15855.35,15839.833333,12000.0,11602.95,11600.033333,22826.1,22608.70,22479.866667,14000.0,13130.00,13817.966667,15217.4,14909.60,14606.400000,763.66,-154.249206,-390.791077,NaN,NaN,NaN,1.715000,-25.425118,-56.315518,NaN,156.550263,35.0,103.0
1707,1983,"China, mainland",3269.1,3160.20,3133.100000,16974.8,17491.40,17049.700000,10889.8,10584.50,10804.166667,4891.3,4609.65,4451.033333,56506.8,55185.15,52661.366667,2451.7,2280.40,2150.733333,NaN,NaN,NaN,2807.0,2695.15,2523.733333,1073.7,1118.55,1112.333333,14543.9,14572.25,14466.500000,14777.8,15587.55,15496.166667,11707.3,11853.65,11637.733333,22500.0,22663.05,22572.466667,15461.5,14730.75,13907.166667,15319.1,15268.25,15046.100000,373.92,-150.207421,-147.599971,NaN,NaN,NaN,2.114167,-30.921604,-54.170596,NaN,161.214356,35.0,103.0
1708,1984,"China, mainland",3623.5,3446.30,3314.633333,19765.7,18370.25,18249.500000,11375.4,11132.60,10848.133333,5096.1,4993.70,4771.800000,47655.4,52081.10,52675.233333,2801.7,2626.70,2454.166667,NaN,NaN,NaN,2500.0,2653.50,2630.100000,1291.1,1182.40,1176.066667,16901.2,15722.55,15348.566667,16000.0,15388.90,15725.033333,11904.8,11806.05,11870.700000,23265.3,22882.65,22863.800000,15514.3,15487.90,14991.933333,15833.3,15576.20,15456.600000,498.32,-121.770022,-209.564926,NaN,NaN,NaN,1.499167,-37.270309,-55.281210,NaN,173.656104,35.0,103.0
1709,1985,"China, mainland",3960.2,3791.85,3617.600000,21904.8,20835.25,19548.433333,11654.2,11514.80,11306.466667,5372.6,5234.35,5120.000000,54284.4,50969.90,52815.533333,2969.1,2885.40,2740.833333,NaN,NaN,NaN,2750.0,2625.00,2685.666667,1330.6,1310.85,1231.800000,16518.4,16709.80,15987.833333,15932.9,15966.45,15570.233333,12500.0,12202.40,12037.366667,23200.0,23232.65,22988.433333,15000.0,15257.15,15325.266667,15833.3,15833.30,15661.900000,503.52,-129.600966,-276.504565,15.560000,0.482853,-33.275618,1.980833,-29.518631,-56.336140,NaN,175.985965,35.0,103.0
1710,1986,"China, mainland",3607.2,3783.70,3730.300000,17823.8,19864.30,19831.433333,10795.0,11224.60,11274.866667,5256.3,5314.45,5241.666667,53418.8,53851.60,51786.200000,2936.7,2952.90,2902.500000,13090.9,NaN,NaN,2647.1,2698.55,2632.366667,1360.5,1345.55,1327.400000,15926.1,16222.25,16448.566667,16807.9,16370.40,16246.933333,12790.7,12645.35,12398.500000,21818.2,22509.10,22761.166667,13425.9,14212.95,14646.733333,15000.0,15416.65,15555.533333,493.31,-175.716034,-244.910755,16.932500,1.590153,-34.537873,2.139167,-28.135778,-57.518787,NaN,143.871773,35.0,103.0
1711,1987,"China, mainland",3705.1,3656.15,3757.500000,20371.9,19097.85,20033.500000,10000.0,10397.50,10816.400000,5337.6,5296.95,5322.166667,52923.4,53171.10,53542.200000,3040.2,2988.45,2982.000000,13584.9,13337.9,NaN,2290.9,2469.00,2562.666667,1400.0,1380.25,1363.700000,15979.2,15952.65,16141.233333,16893.7,16850.80,16544.833333,13023.3,12907.00,12771.333333,21785.7,21801.95,22267.966667,17376.3,15401.10,15267.400000,15217.4,15108.70,15350.233333,432.73,-104.713563,-246.029676,17.083333,-3.225878,-34.358610,2.119167,-29.544438,-53.854031,NaN,143.760996,35.0,103.0
1712,1988,"China, mainland",3920.5,3812.80,3744.266667,19731.8,20051.85,19309.166667,10305.6,10152.80,10366.866667,5413.0,5375.30,5335.633333,55201.6,54062.50,53847.933333,2982.9,3011.55,2986.600000,13267.3,13426.1,13314.366667,2828.3,2559.60,2588.766667,1442.8,1421.40,1401.100000,16371.7,16175.45,16092.333333,16870.4,16882.05,16857.333333,13241.4,13132.35,13018.466667,21551.7,21668.70,21718.533333,13261.4,15318.85,14687.866667,14347.8,14782.60,14855.066667,492.24,-66.729932,-303.627124,16.607500,-3.150878,-30.045374,2.840000,-26.985785,-49.858686,NaN,188.750133,35.0,103.0
1713,1989,"China, mainland",3928.1,3924.30,3851.233333,19103.0,19417.40,19735.566667,11510.7,10908.15,10605.433333,5286.8,5349.90,5345.800000,53099.6,54150.60,53741.533333,2967.9,2975.40,2997.000000,12673.3,12970.3,13175.166667,3061.2,2944.75,2726.800000,1434.1,1438.45,1425.633333,17195.1,16783.40,16515.333333,17046.8,16958.60,16936.966667,13409.1,13325.25,13224.600000,22000.0,21775.85,21779.133333,12897.1,13079.25,14511.600000,14130.4,14239.10,14565.200000,581.63,-158.192282,-280.221451,15.226667,-1.940077,-33.691284,2.292500,-32.133528,-53.768531,NaN,209.445037,35.0,103.0

In [89]:
# Filtering for years with good data (1982+)
x_features = x_features[x_features['year'] >= 1982]

# Saving the final file
x_features.to_parquet('Parquet/x_features_v3.parquet')
#x_features.to_csv('Parquet/x_features_v3.csv')

print(f"Final shape: {x_features.shape}")
x_features.head()

Final shape: (6589, 60)

,year,area,avg_yield_maize_corn_1y,avg_yield_maize_corn_2y,avg_yield_maize_corn_3y,avg_yield_other_vegetables_fresh_nec_1y,avg_yield_other_vegetables_fresh_nec_2y,avg_yield_other_vegetables_fresh_nec_3y,avg_yield_potatoes_1y,avg_yield_potatoes_2y,avg_yield_potatoes_3y,avg_yield_rice_1y,avg_yield_rice_2y,avg_yield_rice_3y,avg_yield_sugar_cane_1y,avg_yield_sugar_cane_2y,avg_yield_sugar_cane_3y,avg_yield_wheat_1y,avg_yield_wheat_2y,avg_yield_wheat_3y,avg_yield_oil_palm_fruit_1y,avg_yield_oil_palm_fruit_2y,avg_yield_oil_palm_fruit_3y,avg_yield_barley_1y,avg_yield_barley_2y,avg_yield_barley_3y,avg_yield_soya_beans_1y,avg_yield_soya_beans_2y,avg_yield_soya_beans_3y,avg_yield_sugar_beet_1y,avg_yield_sugar_beet_2y,avg_yield_sugar_beet_3y,avg_yield_watermelons_1y,avg_yield_watermelons_2y,avg_yield_watermelons_3y,avg_yield_cucumbers_and_gherkins_1y,avg_yield_cucumbers_and_gherkins_2y,avg_yield_cucumbers_and_gherkins_3y,avg_yield_tomatoes_1y,avg_yield_tomatoes_2y,avg_yield_tomatoes_3y,avg_yield_bananas_1y,avg_yield_bananas_2y,avg_yield_bananas_3y,avg_yield_cassava_fresh_1y,avg_yield_cassava_fresh_2y,avg_yield_cassava_fresh_3y,rain_annual,rain_sin,rain_cos,solar_annual,solar_sin,solar_cos,temp_annual,temp_sin,temp_cos,pesticides_lag1,fertilizer_lag1,latitude,longitude
12,1982,Afghanistan,1669.0,1670.05,1650.100000,6892.2,6809.65,6748.933333,15423.7,15142.00,14880.500000,2241.4,2207.10,2181.766667,18918.9,18918.90,18378.366667,1235.0,1244.95,1240.533333,NaN,NaN,NaN,1079.1,1064.05,1058.066667,NaN,NaN,NaN,8333.3,15104.15,17361.100000,9538.5,9353.35,9187.533333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.32,154.391016,59.402942,NaN,NaN,NaN,11.699167,-33.899342,-60.110408,NaN,5.778887,34.53,69.17
13,1983,Afghanistan,1665.8,1667.40,1668.633333,6919.2,6905.70,6846.166667,15511.4,15467.55,15265.133333,2199.4,2220.40,2204.533333,19090.9,19004.90,18976.233333,1229.9,1232.45,1239.933333,NaN,NaN,NaN,1073.9,1076.50,1067.333333,NaN,NaN,NaN,9090.9,8712.10,13099.733333,9457.9,9498.20,9388.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.54,186.787027,72.870980,NaN,NaN,NaN,10.650833,-42.640609,-60.922614,NaN,6.672946,34.53,69.17
14,1984,Afghanistan,1664.1,1664.95,1666.300000,7065.7,6992.45,6959.033333,15764.7,15638.05,15566.600000,2258.1,2228.75,2232.966667,19375.0,19232.95,19128.266667,1258.0,1243.95,1240.966667,NaN,NaN,NaN,1099.2,1086.55,1084.066667,NaN,NaN,NaN,20000.0,14545.45,12474.733333,9754.9,9606.40,9583.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.25,211.709895,-21.830163,NaN,NaN,NaN,11.383333,-46.025539,-55.929678,NaN,7.152971,34.53,69.17
15,1985,Afghanistan,1661.2,1662.65,1663.700000,7155.1,7110.40,7046.666667,14444.4,15104.55,15240.166667,2241.6,2249.85,2233.033333,19354.8,19364.90,19273.566667,1231.9,1244.95,1239.933333,NaN,NaN,NaN,1085.5,1092.35,1086.200000,NaN,NaN,NaN,20000.0,20000.00,16363.633333,9630.0,9692.45,9614.266667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.10,96.438281,33.467341,19.215833,-13.475498,-51.480910,11.888333,-39.599910,-69.677748,NaN,9.178255,34.53,69.17
16,1986,Afghanistan,1665.2,1663.20,1663.500000,7145.9,7150.50,7122.233333,14090.9,14267.65,14766.666667,2248.2,2244.90,2249.300000,19333.3,19344.05,19354.366667,1227.7,1229.80,1239.200000,NaN,NaN,NaN,1086.0,1085.75,1090.233333,NaN,NaN,NaN,3333.3,11666.65,14444.433333,9556.7,9593.35,9647.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.09,67.530475,38.964517,18.741667,-12.861915,-47.249218,12.511667,-31.144849,-60.631870,NaN,9.224020,34.53,69.17