In [1]:
import pandas as pd
import numpy as np

In [2]:
X = pd.read_parquet('x_features.parquet')

In [3]:
label_yield = pd.read_parquet("label_yield.parquet")
label_yield.head()


label_yield['item'] = label_yield['item'].str.replace(r'[^0-9a-zA-Z ]', '', regex=True)
label_yield['item'] = label_yield['item'].str.replace(" ", "_").str.lower()
label_yield

              area         item        year    label
0      Afghanistan   maize_corn  1970-12-31   1475.7
1      Afghanistan   maize_corn  1971-12-31   1340.0
2      Afghanistan   maize_corn  1972-12-31   1565.2
3      Afghanistan   maize_corn  1973-12-31   1617.0
4      Afghanistan   maize_corn  1974-12-31   1617.0
...            ...          ...         ...      ...
89255     Zimbabwe  watermelons  2019-12-31  25000.0
89256     Zimbabwe  watermelons  2020-12-31  36000.0
89257     Zimbabwe  watermelons  2021-12-31  31377.0
89258     Zimbabwe  watermelons  2022-12-31  33841.3
89259     Zimbabwe  watermelons  2023-12-31  32668.1

[89260 rows x 4 columns]

In [4]:
import pandas as pd


label_yield['year'] = pd.to_datetime(label_yield['year'])
label_yield['year'] = label_yield['year'].dt.year

Y = label_yield.pivot_table(
    index=['year','area'],  # row index
    columns='item',         # each item becomes a column
    values='label'          # values
).reset_index()

In [5]:
Y.columns = ['year', 'area', 'Y_bananas', 'Y_barley', 'Y_cassava_fresh',
       'Y_cucumbers_and_gherkins', 'Y_maize_corn', 'Y_oil_palm_fruit',
       'Y_other_vegetables_fresh_nec', 'Y_potatoes', 'Y_rice', 'Y_soya_beans',
       'Y_sugar_beet', 'Y_sugar_cane', 'Y_tomatoes', 'Y_watermelons', 'Y_wheat']

In [6]:
Y

,year,area,Y_bananas,Y_barley,Y_cassava_fresh,Y_cucumbers_and_gherkins,Y_maize_corn,Y_oil_palm_fruit,Y_other_vegetables_fresh_nec,Y_potatoes,Y_rice,Y_soya_beans,Y_sugar_beet,Y_sugar_cane,Y_tomatoes,Y_watermelons,Y_wheat
0,1970,Afghanistan,NaN,1174.6,NaN,NaN,1475.7,NaN,6127.8,9536.4,1811.9,NaN,14090.9,22000.0,NaN,7229.4,956.3
1,1970,Albania,NaN,1077.8,NaN,NaN,2071.8,NaN,12278.3,5469.3,2970.5,NaN,23638.9,NaN,12333.3,NaN,1537.7
2,1970,Algeria,NaN,668.5,NaN,NaN,1023.5,NaN,4891.3,6254.2,1581.0,NaN,19719.9,NaN,9449.6,8977.0,624.5
3,1970,Angola,10000.0,NaN,3555.6,NaN,912.0,9523.8,6515.7,6296.3,1198.0,NaN,NaN,50932.6,3076.9,NaN,854.6
4,1970,Antigua_and_Barbuda,1500.0,NaN,4000.0,4615.4,2400.0,NaN,6250.0,NaN,NaN,NaN,NaN,37272.7,3437.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10240,2023,Venezuela_(Bolivarian_Republic_of),14450.7,NaN,12288.8,14353.3,4354.8,9947.1,18529.3,19964.6,3751.8,1332.2,20885.8,48784.9,20982.4,21901.4,2759.2
10241,2023,Viet_Nam,17938.6,NaN,20255.8,NaN,5041.1,NaN,18301.1,16847.4,6113.5,1606.3,NaN,67749.9,NaN,25087.7,NaN
10242,2023,Yemen,12800.1,1071.4,NaN,14858.3,1500.0,NaN,10271.5,17209.0,NaN,NaN,NaN,NaN,15919.0,16459.6,1666.7
10243,2023,Zambia,4315.7,7850.3,11700.0,NaN,2299.6,NaN,7812.1,24560.6,1268.5,1258.6,NaN,103733.3,9730.9,NaN,7592.0
10244,2023,Zimbabwe,38696.6,5478.5,4768.0,18375.1,729.9,NaN,39698.4,26131.7,328.7,1840.0,NaN,71125.5,22509.5,32668.1,4553.8

In [7]:
X

,year,area,avg_yield_maize_corn_1y,avg_yield_maize_corn_3y,avg_yield_maize_corn_6y,avg_yield_other_vegetables_fresh_nec_1y,avg_yield_other_vegetables_fresh_nec_3y,avg_yield_other_vegetables_fresh_nec_6y,avg_yield_potatoes_1y,avg_yield_potatoes_3y,...,avg_temp_1_3,avg_temp_3_6,avg_temp_6_9,avg_temp_10_12,avg_temp_1_12,sum_rain_1_3,sum_rain_3_6,sum_rain_6_9,sum_rain_10_12,sum_rain_1_12
13,1983,Afghanistan,1665.8,1668.633333,1636.283333,6919.2,6846.166667,6561.216667,15511.4,15265.133333,...,0.106667,15.680000,20.790000,6.026667,10.650833,206.89,87.45,3.43,75.77,373.54
14,1984,Afghanistan,1664.1,1666.300000,1649.750000,7065.7,6959.033333,6775.366667,15764.7,15566.600000,...,1.400000,14.933333,22.253333,6.946667,11.383333,163.40,92.73,7.70,9.42,273.25
15,1985,Afghanistan,1661.2,1663.700000,1656.900000,7155.1,7046.666667,6897.800000,14444.4,15240.166667,...,1.253333,17.946667,22.230000,6.123333,11.888333,104.03,36.23,20.79,35.05,196.10
16,1986,Afghanistan,1665.2,1663.500000,1666.066667,7145.9,7122.233333,6984.200000,14090.9,14766.666667,...,4.220000,17.503333,21.590000,6.733333,12.511667,46.05,50.68,6.22,52.14,155.09
17,1987,Afghanistan,1687.5,1671.300000,1668.800000,7249.5,7183.500000,7071.266667,15866.7,14800.666667,...,1.846667,16.216667,20.453333,6.510000,11.256667,143.25,61.88,46.44,59.63,311.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8299,2019,Zimbabwe,1350.6,1061.466667,906.616667,41264.7,40435.466667,39208.000000,24000.0,27643.033333,...,22.586667,17.703333,19.333333,24.610000,21.058333,440.72,34.19,4.35,98.55,577.81
8300,2020,Zimbabwe,780.7,1174.866667,912.583333,47668.4,43122.366667,40956.600000,19000.0,22300.000000,...,23.883333,19.033333,19.203333,26.340000,22.115000,249.55,39.07,1.13,126.03,415.78
8301,2021,Zimbabwe,1180.1,1103.800000,954.250000,40083.3,43005.466667,41307.666667,23000.0,22000.000000,...,23.646667,18.716667,18.666667,24.313333,21.335833,311.50,22.36,6.17,456.13,796.16
8302,2022,Zimbabwe,1534.4,1165.066667,1113.266667,39717.5,42489.733333,41462.600000,21000.0,21000.000000,...,21.086667,16.763333,18.136667,24.666667,20.163333,386.26,13.23,4.57,280.52,684.58
8303,2023,Zimbabwe,934.0,1216.166667,1195.516667,30000.0,36600.266667,39861.316667,25000.0,23000.000000,...,22.260000,17.136667,18.493333,23.976667,20.466667,403.99,115.60,5.81,247.90,773.30

In [8]:
XY = X.merge(Y, on=['year', 'area'])

In [9]:
XY.to_parquet('XY_version1.parquet')