# Feature Engineering & Data Preparation (Part 3)

## Objective
In this notebook, we build the final dataset used to train our machine learning model. We need to create "features" (variables) that help the model predict crop yield.

We will construct three main types of features:
1.  **Historical Yields (Lag Features):** Using the yield from previous years (1, 3, and 5-year averages) to predict the future.
2.  **Seasonal Weather:** Aggregating monthly weather data into seasonal averages (Winter, Spring, Summer, Fall) and shifting them to align with the crop year.
3.  **Farming Inputs & Location:** Adding fertilizer/pesticide usage and GPS coordinates (Latitude/Longitude).

The final result will be saved as `x_features.parquet`.

In [45]:
import pandas as pd
import numpy as np
from functools import reduce

### 1. Load and Clean Data
We import the standard libraries and load the two datasets we cleaned in Part 1:
* `nasa_df.parquet`: Our weather data.
* `label_yield.parquet`: Our target crop yield data.

We also do a quick cleanup of the crop names to ensure they match perfectly.

In [46]:
# Load datasets
nasa_df = pd.read_parquet('Parquet/nasa_df.parquet')
label_yield = pd.read_parquet('Parquet/label_yield.parquet')

# Clean crop names for consistent column naming
label_yield['item'] = label_yield['item'].str.replace(r'[^0-9a-zA-Z ]', '', regex=True)
label_yield['item'] = label_yield['item'].str.replace(" ", "_").str.lower()

# Generate a list of unique crops for iteration
crop_list = list(label_yield['item'].unique())

### 2. Create "Lag" Features (Past Yields)
Agricultural production often follows trends. If a farm was productive last year, it is likely to be productive this year.

We define a function `past_n_year_avg` that calculates the average yield for:
* **Lag 1:** The yield 1 year ago.
* **Lag 3:** The average yield of the last 3 years.
* **Lag 5:** The average yield of the last 5 years.

This gives the model a "memory" of recent performance.

In [47]:
def past_n_year_avg(df, crop_type, n):
    """
    Compute past-n-year average yield strictly for N full years.
    If less than N full past years exist, return NaN.
    """
    d = df[df['item'] == crop_type].copy()
    d['year'] = pd.to_datetime(d['year']).dt.year
    d = d.sort_values(['area', 'year'])

    def compute_avg(g):
        yrs = g['year'].values
        lbl = g['label'].values
        res = []

        for y in yrs:
            # past N years only
            mask = (yrs >= y - n) & (yrs < y)
            vals = lbl[mask]

            # strict requirement: must have exactly N rows
            if len(vals) == n:
                res.append(vals.mean())
            else:
                res.append(np.nan)

        return pd.Series(res, index=g.index)

    d[f'avg_yield_{crop_type}_{n}y'] = (
        d.groupby('area', group_keys=False)
         .apply(compute_avg, include_groups=False)
    )

    return d[['year', 'area', f'avg_yield_{crop_type}_{n}y']]

#### Generate Lags for All Crops
We run our function for every crop in our list and merge the results into a single dataframe called `features_lag_yield`.

In [48]:

# Iterate through all crops and generate lag features
dfs = []
for crop in crop_list:
    for n in [1, 2, 3]:
        dfs.append(past_n_year_avg(label_yield, crop, n))

# Merge all crop features into a single dataframe
features_lag_yield = reduce(
    lambda left, right: pd.merge(left, right, how='left', on=['year', 'area']),
    dfs
)

### 3. Weather Feature Engineering (Sin/Cos Transformation)

Instead of grouping months into arbitrary seasons (Winter, Spring, etc.), we will use **Sine and Cosine transformations** to capture the cyclical nature of the weather.

We process the weather data as follows:
1.  **Pivot:** Organize data so we have 12 separate months for every Year/Area.
2.  **Harmonic Extraction:** For each weather variable (Rain, Solar, Temp), we calculate:
    * **Annual Base:** The total (for rain) or average (for temp/solar) of the year.
    * **Sin Component:** The dot product of the monthly values with a sine wave.
    * **Cos Component:** The dot product of the monthly values with a cosine wave.
3.  **Lag by 1 Year:** We shift this data to use the *previous* year's weather to predict the current crop.

In [49]:
def prep_harmonic_weather_lag1year(nasa_df, var_list=['rain','solar','temp']):
    """
    Computes seasonal lag-1 weather features using Sin/Cos transformations (Fourier).
    Instead of averaging seasons, this extracts the cyclic nature:
    - Annual Mean/Sum (The base level)
    - Sin Component (Seasonality A)
    - Cos Component (Seasonality B)
    """
    nasa_df['date'] = pd.to_datetime(nasa_df['date'])
    nasa_df['year'] = nasa_df['date'].dt.year
    nasa_df['month'] = nasa_df['date'].dt.month

    # Pre-calculate sin/cos weights for months 1-12
    months = np.arange(1, 13)
    sin_weights = np.sin(2 * np.pi * months / 12)
    cos_weights = np.cos(2 * np.pi * months / 12)

    all_features = None

    for var in var_list:
        # Pivot table (rows=year/area, cols=1..12)
        p = nasa_df.pivot_table(
            index=['area','year'],
            columns='month',
            values=var
        ).reset_index()

        # Lag 1 Year
        p['year'] = p['year'] + 1

        # Ensure columns 1-12 exist (fill missing with NaN)
        for m in range(1, 13):
            if m not in p.columns:
                p[m] = np.nan

        # Extract the 12 month columns as a numpy matrix
        matrix_data = p[range(1, 13)].values

        # --- Calculate Features Vectorized ---

        # 1. Base Feature (Annual Sum for Rain, Mean for others)
        if var == 'rain':
            p[f'{var}_annual'] = np.sum(matrix_data, axis=1)
        else:
            p[f'{var}_annual'] = np.mean(matrix_data, axis=1)
        
        # Enforce strict NaN handling (if any month is missing, annual is NaN)
        mask = np.isnan(matrix_data).any(axis=1)
        p.loc[mask, f'{var}_annual'] = np.nan

        # 2. Sin/Cos Components (Dot Product)
        p[f'{var}_sin'] = matrix_data @ sin_weights
        p[f'{var}_cos'] = matrix_data @ cos_weights

        # Enforce NaN strictness for sin/cos
        p.loc[mask, f'{var}_sin'] = np.nan
        p.loc[mask, f'{var}_cos'] = np.nan

        # Keep only keys and new features
        cols_keep = ['area', 'year', f'{var}_annual', f'{var}_sin', f'{var}_cos']
        p_final = p[cols_keep]

        if all_features is None:
            all_features = p_final
        else:
            all_features = all_features.merge(p_final, on=['area', 'year'], how='outer')

    return all_features

In [50]:
# Process weather features with Sin/Cos
nasa_f = prep_harmonic_weather_lag1year(nasa_df, var_list=['rain','solar','temp'])

# Verify new columns
print(nasa_f.columns.tolist())

['area', 'year', 'rain_annual', 'rain_sin', 'rain_cos', 'solar_annual', 'solar_sin', 'solar_cos', 'temp_annual', 'temp_sin', 'temp_cos']

### 4. Add Location Data (Geospatial)
 Geography plays a huge role in agriculture. We load a separate file containing the **Latitude and Longitude** for each country. This helps the model understand that "Thailand" and "Vietnam" are neighbors and might share similar traits.

In [51]:
# Load geospatial data (Assuming 'lat_long.csv' exists in Data folder)
latlong = pd.read_csv('Data/coordinates.csv')

# Clean and standardize formatting
latlong['area'] = latlong['Area'].str.replace(' ', '_')
latlong = latlong[['area', 'latitude', 'longitude']]

# Display sample to verify structure
latlong.head()

        area  latitude  longitude
0    Albania     41.33      19.82
1    Algeria     28.03       1.66
2     Angola    -11.20      17.87
3  Argentina    -38.42     -63.62
4    Armenia     40.07      45.04

### 5. Add Farming Inputs (Fertilizers & Pesticides)
We include data on how much fertilizer and pesticide was used.
* **Logic:** We shift this data by 1 year (`Lag 1`).
* **Reason:** Farmers often plan their budget based on the previous year's usage. Using last year's data makes our prediction more practical for early forecasting.

In [52]:
# 1. Load the farming data
farming_df = pd.read_parquet('Parquet/farming_df.parquet')

# 2. Ensure 'year' is in datetime format for accurate date shifting
farming_df['year'] = pd.to_datetime(farming_df['year'])

# 3. Create Lag Features (Shift Year Forward by 1)
# Logic: We use 2020's pesticides for the 2021 yield row.
farming_df['year'] = farming_df['year'] + pd.DateOffset(years=1)

# === FIX START ===
# 4. Convert 'year' back to an integer to match x_features
farming_df['year'] = farming_df['year'].dt.year
# === FIX END ===

# 5. Rename columns to indicate they are lagged
farming_df = farming_df.rename(columns={
    'pesticides': 'pesticides_lag1',
    'fertilizer': 'fertilizer_lag1'
})

### 6. Final Merge and Save
We combine all our new features into one master dataset:
* **Yield Lags** + **Harmonic Weather** + **Farming Inputs** + **Location**

We filter out data before 1982 (since we don't have enough history to calculate the 5-year lag for those early years) and save the final file as `x_features_v2.parquet`.

In [53]:
# Merge Yield Lags with Weather Data
x_features = features_lag_yield.merge(
    nasa_f, on=['year', 'area'], how='left'
)

# 7. Merge with Farming Data
# Now both dataframes have 'year' as an integer
x_features = x_features.merge(
    farming_df, on=['year', 'area'], how='left'
)

# Merge with Geospatial Data
x_features = x_features.merge(
    latlong, on=['area'], how='left'
)


# Prevent pandas from hiding columns
pd.set_option('display.max_columns', None)

# Show first 20 rows for Thailand
x_features[x_features['area'] == 'Thailand'].head(20)

,year,area,avg_yield_maize_corn_1y,avg_yield_maize_corn_2y,avg_yield_maize_corn_3y,avg_yield_other_vegetables_fresh_nec_1y,avg_yield_other_vegetables_fresh_nec_2y,avg_yield_other_vegetables_fresh_nec_3y,avg_yield_potatoes_1y,avg_yield_potatoes_2y,avg_yield_potatoes_3y,avg_yield_rice_1y,avg_yield_rice_2y,avg_yield_rice_3y,avg_yield_sugar_cane_1y,avg_yield_sugar_cane_2y,avg_yield_sugar_cane_3y,avg_yield_wheat_1y,avg_yield_wheat_2y,avg_yield_wheat_3y,avg_yield_oil_palm_fruit_1y,avg_yield_oil_palm_fruit_2y,avg_yield_oil_palm_fruit_3y,avg_yield_barley_1y,avg_yield_barley_2y,avg_yield_barley_3y,avg_yield_soya_beans_1y,avg_yield_soya_beans_2y,avg_yield_soya_beans_3y,avg_yield_sugar_beet_1y,avg_yield_sugar_beet_2y,avg_yield_sugar_beet_3y,avg_yield_watermelons_1y,avg_yield_watermelons_2y,avg_yield_watermelons_3y,avg_yield_cucumbers_and_gherkins_1y,avg_yield_cucumbers_and_gherkins_2y,avg_yield_cucumbers_and_gherkins_3y,avg_yield_tomatoes_1y,avg_yield_tomatoes_2y,avg_yield_tomatoes_3y,avg_yield_bananas_1y,avg_yield_bananas_2y,avg_yield_bananas_3y,avg_yield_cassava_fresh_1y,avg_yield_cassava_fresh_2y,avg_yield_cassava_fresh_3y,rain_annual,rain_sin,rain_cos,solar_annual,solar_sin,solar_cos,temp_annual,temp_sin,temp_cos,pesticides_lag1,fertilizer_lag1,latitude,longitude
7309,1970,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.87,100.99
7310,1971,Thailand,2587.7,NaN,NaN,6181.1,NaN,NaN,8000.0,NaN,NaN,2020.7,NaN,NaN,43149.5,NaN,NaN,NaN,NaN,NaN,5789.5,NaN,NaN,NaN,NaN,NaN,875.0,NaN,NaN,NaN,NaN,NaN,9966.7,NaN,NaN,7000.0,NaN,NaN,3223.2,NaN,NaN,9600.0,NaN,NaN,15317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.588943,15.87,100.99
7311,1972,Thailand,2421.1,2504.40,NaN,6171.9,6176.50,NaN,8000.0,8000.00,NaN,1936.9,1978.80,NaN,47752.3,45450.90,NaN,NaN,NaN,NaN,5789.5,5789.50,NaN,NaN,NaN,NaN,1007.0,941.00,NaN,NaN,NaN,NaN,10347.6,10157.15,NaN,7000.0,7000.00,NaN,3708.3,3465.75,NaN,9600.0,9600.00,NaN,14144.3,14730.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.308020,15.87,100.99
7312,1973,Thailand,1414.0,1917.55,2140.933333,6210.9,6191.40,6187.966667,8000.0,8000.00,8000.000000,1830.8,1883.85,1929.466667,37373.9,42563.10,42758.566667,NaN,NaN,NaN,5789.5,5789.50,5789.500000,NaN,NaN,NaN,940.3,973.65,940.766667,NaN,NaN,NaN,11568.0,10957.80,10627.433333,7000.0,7000.00,7000.000000,3869.6,3788.95,3600.366667,9600.0,9600.00,9600.000000,12127.7,13136.00,13863.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.159696,15.87,100.99
7313,1974,Thailand,2227.6,1820.80,2020.900000,6250.0,6230.45,6210.933333,6540.6,7270.30,7513.533333,1924.2,1877.50,1897.300000,52476.8,44925.35,45867.666667,NaN,NaN,NaN,5833.3,5811.40,5804.100000,NaN,NaN,NaN,1001.6,970.95,982.966667,NaN,NaN,NaN,11581.3,11574.65,11165.633333,7096.2,7048.10,7032.066667,4081.5,3975.55,3886.466667,10000.0,9800.00,9733.333333,13120.4,12624.05,13130.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.789281,15.87,100.99
7314,1975,Thailand,2332.1,2279.85,1991.233333,6289.1,6269.55,6250.000000,6532.2,6536.40,7024.266667,1825.4,1874.80,1860.133333,51579.0,52027.90,47143.233333,NaN,NaN,NaN,5833.3,5833.30,5818.700000,NaN,NaN,NaN,871.6,936.60,937.833333,NaN,NaN,NaN,10775.0,11178.15,11308.100000,7092.6,7094.40,7062.933333,5231.1,4656.30,4394.066667,10400.0,10200.00,10000.000000,13184.6,13152.50,12810.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.756906,15.87,100.99
7315,1976,Thailand,2375.2,2353.65,2311.633333,6328.1,6308.60,6289.066667,9944.5,8238.35,7672.433333,1830.8,1828.10,1860.133333,48127.6,49853.30,50727.800000,NaN,NaN,NaN,5823.5,5828.40,5830.033333,NaN,NaN,NaN,1027.6,949.60,966.933333,NaN,NaN,NaN,11831.3,11303.15,11395.866667,7107.1,7099.85,7098.633333,7387.4,6309.25,5566.666667,10400.0,10400.00,10266.666667,14933.0,14058.80,13746.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.090537,15.87,100.99
7316,1977,Thailand,2386.2,2380.70,2364.500000,6367.2,6347.65,6328.133333,2573.1,6258.80,6349.933333,1845.0,1837.90,1833.733333,53291.6,50709.60,50999.400000,NaN,NaN,NaN,10843.0,8333.25,7499.933333,NaN,NaN,NaN,1209.6,1118.60,1036.266667,NaN,NaN,NaN,12126.8,11979.05,11577.700000,7206.9,7157.00,7135.533333,4198.5,5792.95,5605.666667,11200.0,10800.00,10666.666667,15065.4,14999.20,14394.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.635716,15.87,100.99
7317,1978,Thailand,1717.7,2051.95,2159.700000,6406.3,6386.75,6367.200000,10485.8,6529.45,7667.800000,1591.0,1718.00,1755.600000,52814.2,53052.90,51411.133333,NaN,NaN,NaN,12207.4,11525.20,9624.633333,NaN,NaN,NaN,736.5,973.05,991.233333,NaN,NaN,NaN,12721.2,12424.00,12226.433333,7200.0,7203.45,7171.333333,4502.7,4350.60,5362.866667,12000.0,11600.00,11200.000000,14255.1,14660.25,14751.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.250999,15.87,100.99
7318,1979,Thailand,2124.0,1920.85,2075.966667,6395.3,6400.80,6389.600000,10361.3,10423.55,7806.733333,1955.2,1773.10,1797.066667,33842.9,43328.55,46649.566667,NaN,NaN,NaN,10381.1,11294.25,11143.833333,NaN,NaN,NaN,1093.7,915.10,1013.266667,NaN,NaN,NaN,12373.2,12547.20,12407.066667,7290.3,7245.15,7232.400000,4818.0,4660.35,4506.400000,11600.0,11800.00,11600.000000,15511.5,14883.30,14944.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.873107,15.87,100.99
7319,1980,Thailand,2010.3,2067.15,1950.666667,6384.6,6389.95,6395.400000,8937.6,9649.45,9928.233333,1820.9,1888.05,1789.033333,40768.8,37305.85,42475.300000,NaN,NaN,NaN,10281.0,10331.05,10956.500000,NaN,NaN,NaN,1017.6,1055.65,949.266667,NaN,NaN,NaN,13367.0,12870.10,12820.466667,7312.5,7301.40,7267.600000,4069.1,4443.55,4463.266667,12000.0,11800.00,11866.666667,13968.4,14739.95,14578.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.742262,15.87,100.99
7320,1981,Thailand,2228.3,2119.30,2120.866667,6606.3,6495.45,6462.066667,7762.5,8350.05,9020.466667,1887.8,1854.35,1887.966667,30137.8,35453.30,34916.500000,NaN,NaN,NaN,9644.4,9962.70,10102.166667,NaN,NaN,NaN,949.8,983.70,1020.366667,NaN,NaN,NaN,15013.0,14190.00,13584.400000,9134.2,8223.35,7912.333333,9594.7,6831.90,6160.600000,11923.1,11961.55,11841.033333,14748.9,14358.65,14742.933333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.659945,15.87,100.99
7321,1982,Thailand,2353.8,2291.05,2197.466667,6233.6,6419.95,6408.166667,9987.5,8875.00,8895.866667,1952.1,1919.95,1886.933333,43488.8,36813.30,38131.800000,NaN,NaN,NaN,10116.5,9880.45,10013.966667,NaN,NaN,NaN,1052.0,1000.90,1006.466667,NaN,NaN,NaN,15123.1,15068.05,14501.033333,7516.0,8325.10,7987.566667,7373.8,8484.25,7012.533333,12307.7,12115.40,12076.933333,14273.9,14511.40,14330.400000,1115.56,-331.152235,-455.368398,NaN,NaN,NaN,25.199167,7.949383,-14.802748,NaN,18.580125,15.87,100.99
7322,1983,Thailand,2298.8,2326.30,2293.633333,6656.3,6444.95,6498.733333,11898.8,10943.15,9882.933333,1888.0,1920.05,1909.300000,49240.5,46364.65,40955.700000,NaN,NaN,NaN,10261.8,10189.15,10007.566667,NaN,NaN,NaN,1123.6,1087.80,1041.800000,NaN,NaN,NaN,15020.0,15071.55,15052.033333,7021.2,7268.60,7890.466667,8655.1,8014.45,8541.200000,11923.1,12115.40,12051.300000,16361.4,15317.65,15128.066667,1036.59,-509.811515,-330.281927,NaN,NaN,NaN,26.107500,12.035723,-17.987600,NaN,18.704576,15.87,100.99
7323,1984,Thailand,2267.4,2283.10,2306.666667,6695.3,6675.80,6528.400000,14216.0,13057.40,12034.100000,2035.1,1961.55,1958.400000,42288.8,45764.65,45006.033333,NaN,NaN,NaN,8361.8,9311.80,9580.033333,NaN,NaN,NaN,1149.3,1136.45,1108.300000,NaN,NaN,NaN,16079.6,15549.80,15407.566667,7635.6,7328.40,7390.933333,11372.1,10013.60,9133.666667,11769.2,11846.15,12000.000000,18655.4,17508.40,16430.233333,1110.93,-515.340027,-374.690205,NaN,NaN,NaN,25.770000,12.968870,-21.662971,NaN,27.797375,15.87,100.99
7324,1985,Thailand,2430.5,2348.95,2332.233333,6795.3,6745.30,6715.633333,10471.0,12343.50,12195.266667,2067.0,2051.05,1996.700000,44540.8,43414.80,45356.700000,NaN,NaN,NaN,8694.8,8528.30,9106.133333,NaN,NaN,NaN,1275.4,1212.35,1182.766667,NaN,NaN,NaN,15604.8,15842.20,15568.133333,7183.2,7409.40,7280.000000,7828.6,9600.35,9285.266667,11884.6,11826.90,11858.966667,14968.8,16812.10,16661.866667,963.27,-343.283458,-396.494198,19.637500,11.492844,-6.229845,25.647500,6.760364,-13.014972,NaN,25.613470,15.87,100.99
7325,1986,Thailand,2571.9,2501.20,2423.266667,7352.9,7074.10,6947.833333,12284.1,11377.55,12323.700000,2060.8,2063.90,2054.300000,47180.3,45860.55,44669.966667,NaN,NaN,NaN,11445.5,10070.15,9500.700000,NaN,NaN,NaN,1284.8,1280.10,1236.500000,NaN,NaN,NaN,14293.6,14949.20,15326.000000,7856.4,7519.80,7558.400000,11355.1,9591.85,10185.266667,12153.8,12019.20,11935.866667,13994.1,14481.45,15872.766667,1030.77,-346.883906,-347.883479,20.714167,14.875446,-5.373865,25.990000,11.939017,-9.788524,NaN,25.354604,15.87,100.99
7326,1987,Thailand,2373.8,2472.85,2458.733333,7040.0,7196.45,7062.733333,12455.8,12369.95,11736.966667,2052.2,2056.50,2060.000000,44128.2,45654.25,45283.100000,1193.2,NaN,NaN,11582.3,11513.90,10574.200000,NaN,NaN,NaN,1263.6,1274.20,1274.600000,NaN,NaN,NaN,14339.6,14316.60,14746.000000,7547.2,7701.80,7528.933333,9998.3,10676.70,9727.333333,12278.5,12216.15,12105.633333,12664.5,13329.30,13875.800000,906.18,-251.897043,-430.068164,21.350000,10.451364,-8.926333,25.884167,7.079935,-10.678447,NaN,31.555306,15.87,100.99
7327,1988,Thailand,2048.6,2211.20,2331.433333,7023.8,7031.90,7138.900000,7841.0,10148.40,10860.300000,2014.7,2033.45,2042.566667,47005.3,45566.75,46104.600000,1250.0,1221.6,NaN,10531.2,11056.75,11186.333333,NaN,NaN,NaN,1113.4,1188.50,1220.600000,NaN,NaN,NaN,14415.1,14377.35,14349.433333,7547.2,7547.20,7650.266667,10000.0,9999.15,10451.133333,12340.0,12309.25,12257.433333,14266.1,13465.30,13641.566667,1201.19,-415.700684,-339.372755,20.192500,11.724691,-8.486582,25.987500,7.238621,-15.782107,NaN,35.131065,15.87,100.99
7328,1989,Thailand,2617.6,2333.10,2346.666667,7007.9,7015.85,7023.900000,8593.8,8217.40,9630.200000,2146.5,2080.60,2071.133333,47650.8,47328.05,46261.433333,554.6,902.3,999.266667,10693.0,10612.10,10935.500000,NaN,NaN,NaN,1317.7,1215.55,1231.566667,NaN,NaN,NaN,14490.6,14452.85,14415.100000,7649.3,7598.25,7581.233333,10000.0,10000.00,9999.433333,12353.8,12346.90,12324.100000,14421.3,14343.70,13783.966667,1215.08,-275.732618,-480.163017,20.199167,9.939639,-5.837884,25.665000,10.485556,-13.079569,NaN,43.465309,15.87,100.99

In [54]:

# Filter data to relevant years (1983 onwards)
x_features = x_features[x_features['year'] >= 1982]

# Save to Parquet
x_features.to_parquet('Parquet/x_features_v3.parquet')

# Output shape for verification
print(f"Final X features shape: {x_features.shape}")

x_features.head()

Final X features shape: (6631, 60)

,year,area,avg_yield_maize_corn_1y,avg_yield_maize_corn_2y,avg_yield_maize_corn_3y,avg_yield_other_vegetables_fresh_nec_1y,avg_yield_other_vegetables_fresh_nec_2y,avg_yield_other_vegetables_fresh_nec_3y,avg_yield_potatoes_1y,avg_yield_potatoes_2y,avg_yield_potatoes_3y,avg_yield_rice_1y,avg_yield_rice_2y,avg_yield_rice_3y,avg_yield_sugar_cane_1y,avg_yield_sugar_cane_2y,avg_yield_sugar_cane_3y,avg_yield_wheat_1y,avg_yield_wheat_2y,avg_yield_wheat_3y,avg_yield_oil_palm_fruit_1y,avg_yield_oil_palm_fruit_2y,avg_yield_oil_palm_fruit_3y,avg_yield_barley_1y,avg_yield_barley_2y,avg_yield_barley_3y,avg_yield_soya_beans_1y,avg_yield_soya_beans_2y,avg_yield_soya_beans_3y,avg_yield_sugar_beet_1y,avg_yield_sugar_beet_2y,avg_yield_sugar_beet_3y,avg_yield_watermelons_1y,avg_yield_watermelons_2y,avg_yield_watermelons_3y,avg_yield_cucumbers_and_gherkins_1y,avg_yield_cucumbers_and_gherkins_2y,avg_yield_cucumbers_and_gherkins_3y,avg_yield_tomatoes_1y,avg_yield_tomatoes_2y,avg_yield_tomatoes_3y,avg_yield_bananas_1y,avg_yield_bananas_2y,avg_yield_bananas_3y,avg_yield_cassava_fresh_1y,avg_yield_cassava_fresh_2y,avg_yield_cassava_fresh_3y,rain_annual,rain_sin,rain_cos,solar_annual,solar_sin,solar_cos,temp_annual,temp_sin,temp_cos,pesticides_lag1,fertilizer_lag1,latitude,longitude
12,1982,Afghanistan,1669.0,1670.05,1650.100000,6892.2,6809.65,6748.933333,15423.7,15142.00,14880.500000,2241.4,2207.10,2181.766667,18918.9,18918.90,18378.366667,1235.0,1244.95,1240.533333,NaN,NaN,NaN,1079.1,1064.05,1058.066667,NaN,NaN,NaN,8333.3,15104.15,17361.100000,9538.5,9353.35,9187.533333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.32,154.391016,59.402942,NaN,NaN,NaN,11.699167,-33.899342,-60.110408,NaN,5.778887,34.53,69.17
13,1983,Afghanistan,1665.8,1667.40,1668.633333,6919.2,6905.70,6846.166667,15511.4,15467.55,15265.133333,2199.4,2220.40,2204.533333,19090.9,19004.90,18976.233333,1229.9,1232.45,1239.933333,NaN,NaN,NaN,1073.9,1076.50,1067.333333,NaN,NaN,NaN,9090.9,8712.10,13099.733333,9457.9,9498.20,9388.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.54,186.787027,72.870980,NaN,NaN,NaN,10.650833,-42.640609,-60.922614,NaN,6.672946,34.53,69.17
14,1984,Afghanistan,1664.1,1664.95,1666.300000,7065.7,6992.45,6959.033333,15764.7,15638.05,15566.600000,2258.1,2228.75,2232.966667,19375.0,19232.95,19128.266667,1258.0,1243.95,1240.966667,NaN,NaN,NaN,1099.2,1086.55,1084.066667,NaN,NaN,NaN,20000.0,14545.45,12474.733333,9754.9,9606.40,9583.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.25,211.709895,-21.830163,NaN,NaN,NaN,11.383333,-46.025539,-55.929678,NaN,7.152971,34.53,69.17
15,1985,Afghanistan,1661.2,1662.65,1663.700000,7155.1,7110.40,7046.666667,14444.4,15104.55,15240.166667,2241.6,2249.85,2233.033333,19354.8,19364.90,19273.566667,1231.9,1244.95,1239.933333,NaN,NaN,NaN,1085.5,1092.35,1086.200000,NaN,NaN,NaN,20000.0,20000.00,16363.633333,9630.0,9692.45,9614.266667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.10,96.438281,33.467341,19.215833,-13.475498,-51.480910,11.888333,-39.599910,-69.677748,NaN,9.178255,34.53,69.17
16,1986,Afghanistan,1665.2,1663.20,1663.500000,7145.9,7150.50,7122.233333,14090.9,14267.65,14766.666667,2248.2,2244.90,2249.300000,19333.3,19344.05,19354.366667,1227.7,1229.80,1239.200000,NaN,NaN,NaN,1086.0,1085.75,1090.233333,NaN,NaN,NaN,3333.3,11666.65,14444.433333,9556.7,9593.35,9647.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.09,67.530475,38.964517,18.741667,-12.861915,-47.249218,12.511667,-31.144849,-60.631870,NaN,9.224020,34.53,69.17