# Label Preparation and Final Dataset Creation (Part 4)

## Objective
This notebook handles the final piece of the puzzle: the "Labels" (Target Variables). In Part 3, we built the features (inputs). Now, we need to structure the crop yield data so the model knows what to predict.

**Key Steps:**
1.  **Load Data:** Import the features from Part 3 and the raw yield data.
2.  **Clean & Pivot:** Convert the yield data from "long" format (rows) to "wide" format (columns).
3.  **Merge:** Combine the Features (X) and Labels (Y) into one final dataset.
4.  **Save:** Export the ready-to-use dataset as `XY_v2.parquet`.

In [25]:
import pandas as pd
import numpy as np

### 1. Load Features and Raw Labels
We import our feature set (`x_features_v2.parquet`) and the raw crop yield data (`label_yield.parquet`). The raw yield data is currently in a "long" format, which means different crops are stacked in rows.

In [26]:
# Load Features created in Part 3
X = pd.read_parquet('Parquet/x_features_v3.parquet')

# Load Raw Yield Data
label_yield = pd.read_parquet('Parquet/label_yield.parquet')

### 2. Standardize Crop Names
Machine learning models prefer clean, consistent names. We process the `item` column to remove special characters and spaces, converting names like "Maize (corn)" to `maize_corn`. This prevents errors during column creation.

In [27]:
label_yield['item'] = label_yield['item'].str.replace(r'[^0-9a-zA-Z ]', '', regex=True)
label_yield['item'] = label_yield['item'].str.replace(" ", "_").str.lower()

# Display sample to verify cleaning
label_yield.head()

          area        item        year   label
0  Afghanistan  maize_corn  1970-12-31  1475.7
1  Afghanistan  maize_corn  1971-12-31  1340.0
2  Afghanistan  maize_corn  1972-12-31  1565.2
3  Afghanistan  maize_corn  1973-12-31  1617.0
4  Afghanistan  maize_corn  1974-12-31  1617.0

### 3. Create Target Columns (Pivoting)
We need a separate column for each crop so we can predict them individually.
* **Current Format (Long):** One row per crop per year.
* **New Format (Wide):** One row per year, with columns like `Y_rice`, `Y_wheat`, `Y_maize`.

We use the `pivot_table` function to transform the data structure.

In [28]:
# Extract Year as integer
label_yield['year'] = pd.to_datetime(label_yield['year']).dt.year

# Pivot the table
Y = label_yield.pivot_table(
    index=['year','area'],  # Unique identifier for row
    columns='item',         # Create columns for each crop
    values='label'          # The Yield value
).reset_index()

### 4. Rename Columns
To avoid confusion between our *features* (inputs) and our *targets* (outputs), we add a prefix `Y_` to all the new crop columns. For example, the target for Rice becomes `Y_rice`.

In [29]:
# Dynamically generate column list
current_cols = Y.columns.tolist()

# Identify crop columns (those that represent items)
crop_cols = [c for c in current_cols if c not in ['year', 'area']]

# Create new column mapping
new_col_names = ['year', 'area'] + [f'Y_{c}' for c in crop_cols]
Y.columns = new_col_names

# Display structure
Y.head()

,year,area,Y_bananas,Y_barley,Y_cassava_fresh,Y_cucumbers_and_gherkins,Y_maize_corn,Y_oil_palm_fruit,Y_other_vegetables_fresh_nec,Y_potatoes,Y_rice,Y_soya_beans,Y_sugar_beet,Y_sugar_cane,Y_tomatoes,Y_watermelons,Y_wheat
0,1970,Afghanistan,NaN,1174.6,NaN,NaN,1475.7,NaN,6127.8,9536.4,1811.9,NaN,14090.9,22000.0,NaN,7229.4,956.3
1,1970,Albania,NaN,1077.8,NaN,NaN,2071.8,NaN,12278.3,5469.3,2970.5,NaN,23638.9,NaN,12333.3,NaN,1537.7
2,1970,Algeria,NaN,668.5,NaN,NaN,1023.5,NaN,4891.3,6254.2,1581.0,NaN,19719.9,NaN,9449.6,8977.0,624.5
3,1970,Angola,10000.0,NaN,3555.6,NaN,912.0,9523.8,6515.7,6296.3,1198.0,NaN,NaN,50932.6,3076.9,NaN,854.6
4,1970,Antigua_and_Barbuda,1500.0,NaN,4000.0,4615.4,2400.0,NaN,6250.0,NaN,NaN,NaN,NaN,37272.7,3437.5,NaN,NaN

### 5. Merge Features and Labels
Now we combine everything. We perform an **inner join** between our Feature table (X) and our Label table (Y) based on `year` and `area`. This ensures every row in our final dataset has both input features and a target value to learn from.

In [30]:
XY = X.merge(Y, on=['year', 'area'], how='inner')

# Output the shape to verify merge
print(f"Final dataset shape: {XY.shape}")

Final dataset shape: (6631, 75)

### 6. Save Final Dataset
We export the merged dataframe to `XY_v2.parquet`. This file contains everything needed to train the model in the next step.

In [31]:
# Save to Parquet
XY.to_parquet('Parquet/XY_v3.parquet')

In [32]:

# Prevent pandas from hiding columns
pd.set_option('display.max_columns', None)

# Show first 20 rows for Thailand
XY[XY['area'] == 'Thailand'].head(20)

,year,area,avg_yield_maize_corn_1y,avg_yield_maize_corn_2y,avg_yield_maize_corn_3y,avg_yield_other_vegetables_fresh_nec_1y,avg_yield_other_vegetables_fresh_nec_2y,avg_yield_other_vegetables_fresh_nec_3y,avg_yield_potatoes_1y,avg_yield_potatoes_2y,avg_yield_potatoes_3y,avg_yield_rice_1y,avg_yield_rice_2y,avg_yield_rice_3y,avg_yield_sugar_cane_1y,avg_yield_sugar_cane_2y,avg_yield_sugar_cane_3y,avg_yield_wheat_1y,avg_yield_wheat_2y,avg_yield_wheat_3y,avg_yield_oil_palm_fruit_1y,avg_yield_oil_palm_fruit_2y,avg_yield_oil_palm_fruit_3y,avg_yield_barley_1y,avg_yield_barley_2y,avg_yield_barley_3y,avg_yield_soya_beans_1y,avg_yield_soya_beans_2y,avg_yield_soya_beans_3y,avg_yield_sugar_beet_1y,avg_yield_sugar_beet_2y,avg_yield_sugar_beet_3y,avg_yield_watermelons_1y,avg_yield_watermelons_2y,avg_yield_watermelons_3y,avg_yield_cucumbers_and_gherkins_1y,avg_yield_cucumbers_and_gherkins_2y,avg_yield_cucumbers_and_gherkins_3y,avg_yield_tomatoes_1y,avg_yield_tomatoes_2y,avg_yield_tomatoes_3y,avg_yield_bananas_1y,avg_yield_bananas_2y,avg_yield_bananas_3y,avg_yield_cassava_fresh_1y,avg_yield_cassava_fresh_2y,avg_yield_cassava_fresh_3y,rain_annual,rain_sin,rain_cos,solar_annual,solar_sin,solar_cos,temp_annual,temp_sin,temp_cos,pesticides_lag1,fertilizer_lag1,latitude,longitude,Y_bananas,Y_barley,Y_cassava_fresh,Y_cucumbers_and_gherkins,Y_maize_corn,Y_oil_palm_fruit,Y_other_vegetables_fresh_nec,Y_potatoes,Y_rice,Y_soya_beans,Y_sugar_beet,Y_sugar_cane,Y_tomatoes,Y_watermelons,Y_wheat
5818,1982,Thailand,2353.8,2291.05,2197.466667,6233.6,6419.95,6408.166667,9987.5,8875.00,8895.866667,1952.1,1919.95,1886.933333,43488.8,36813.30,38131.800000,NaN,NaN,NaN,10116.5,9880.45,10013.966667,NaN,NaN,NaN,1052.0,1000.90,1006.466667,NaN,NaN,NaN,15123.1,15068.05,14501.033333,7516.0,8325.10,7987.566667,7373.8,8484.25,7012.533333,12307.7,12115.40,12076.933333,14273.9,14511.40,14330.400000,1115.56,-331.152235,-455.368398,NaN,NaN,NaN,25.199167,7.949383,-14.802748,NaN,18.580125,15.87,100.99,11923.1,NaN,16361.4,7021.2,2298.8,10261.8,6656.3,11898.8,1888.0,1123.6,NaN,49240.5,8655.1,15020.0,NaN
5819,1983,Thailand,2298.8,2326.30,2293.633333,6656.3,6444.95,6498.733333,11898.8,10943.15,9882.933333,1888.0,1920.05,1909.300000,49240.5,46364.65,40955.700000,NaN,NaN,NaN,10261.8,10189.15,10007.566667,NaN,NaN,NaN,1123.6,1087.80,1041.800000,NaN,NaN,NaN,15020.0,15071.55,15052.033333,7021.2,7268.60,7890.466667,8655.1,8014.45,8541.200000,11923.1,12115.40,12051.300000,16361.4,15317.65,15128.066667,1036.59,-509.811515,-330.281927,NaN,NaN,NaN,26.107500,12.035723,-17.987600,NaN,18.704576,15.87,100.99,11769.2,NaN,18655.4,7635.6,2267.4,8361.8,6695.3,14216.0,2035.1,1149.3,NaN,42288.8,11372.1,16079.6,NaN
5820,1984,Thailand,2267.4,2283.10,2306.666667,6695.3,6675.80,6528.400000,14216.0,13057.40,12034.100000,2035.1,1961.55,1958.400000,42288.8,45764.65,45006.033333,NaN,NaN,NaN,8361.8,9311.80,9580.033333,NaN,NaN,NaN,1149.3,1136.45,1108.300000,NaN,NaN,NaN,16079.6,15549.80,15407.566667,7635.6,7328.40,7390.933333,11372.1,10013.60,9133.666667,11769.2,11846.15,12000.000000,18655.4,17508.40,16430.233333,1110.93,-515.340027,-374.690205,NaN,NaN,NaN,25.770000,12.968870,-21.662971,NaN,27.797375,15.87,100.99,11884.6,NaN,14968.8,7183.2,2430.5,8694.8,6795.3,10471.0,2067.0,1275.4,NaN,44540.8,7828.6,15604.8,NaN
5821,1985,Thailand,2430.5,2348.95,2332.233333,6795.3,6745.30,6715.633333,10471.0,12343.50,12195.266667,2067.0,2051.05,1996.700000,44540.8,43414.80,45356.700000,NaN,NaN,NaN,8694.8,8528.30,9106.133333,NaN,NaN,NaN,1275.4,1212.35,1182.766667,NaN,NaN,NaN,15604.8,15842.20,15568.133333,7183.2,7409.40,7280.000000,7828.6,9600.35,9285.266667,11884.6,11826.90,11858.966667,14968.8,16812.10,16661.866667,963.27,-343.283458,-396.494198,19.637500,11.492844,-6.229845,25.647500,6.760364,-13.014972,NaN,25.613470,15.87,100.99,12153.8,NaN,13994.1,7856.4,2571.9,11445.5,7352.9,12284.1,2060.8,1284.8,NaN,47180.3,11355.1,14293.6,NaN
5822,1986,Thailand,2571.9,2501.20,2423.266667,7352.9,7074.10,6947.833333,12284.1,11377.55,12323.700000,2060.8,2063.90,2054.300000,47180.3,45860.55,44669.966667,NaN,NaN,NaN,11445.5,10070.15,9500.700000,NaN,NaN,NaN,1284.8,1280.10,1236.500000,NaN,NaN,NaN,14293.6,14949.20,15326.000000,7856.4,7519.80,7558.400000,11355.1,9591.85,10185.266667,12153.8,12019.20,11935.866667,13994.1,14481.45,15872.766667,1030.77,-346.883906,-347.883479,20.714167,14.875446,-5.373865,25.990000,11.939017,-9.788524,NaN,25.354604,15.87,100.99,12278.5,NaN,12664.5,7547.2,2373.8,11582.3,7040.0,12455.8,2052.2,1263.6,NaN,44128.2,9998.3,14339.6,1193.2
5823,1987,Thailand,2373.8,2472.85,2458.733333,7040.0,7196.45,7062.733333,12455.8,12369.95,11736.966667,2052.2,2056.50,2060.000000,44128.2,45654.25,45283.100000,1193.2,NaN,NaN,11582.3,11513.90,10574.200000,NaN,NaN,NaN,1263.6,1274.20,1274.600000,NaN,NaN,NaN,14339.6,14316.60,14746.000000,7547.2,7701.80,7528.933333,9998.3,10676.70,9727.333333,12278.5,12216.15,12105.633333,12664.5,13329.30,13875.800000,906.18,-251.897043,-430.068164,21.350000,10.451364,-8.926333,25.884167,7.079935,-10.678447,NaN,31.555306,15.87,100.99,12340.0,NaN,14266.1,7547.2,2048.6,10531.2,7023.8,7841.0,2014.7,1113.4,NaN,47005.3,10000.0,14415.1,1250.0
5824,1988,Thailand,2048.6,2211.20,2331.433333,7023.8,7031.90,7138.900000,7841.0,10148.40,10860.300000,2014.7,2033.45,2042.566667,47005.3,45566.75,46104.600000,1250.0,1221.60,NaN,10531.2,11056.75,11186.333333,NaN,NaN,NaN,1113.4,1188.50,1220.600000,NaN,NaN,NaN,14415.1,14377.35,14349.433333,7547.2,7547.20,7650.266667,10000.0,9999.15,10451.133333,12340.0,12309.25,12257.433333,14266.1,13465.30,13641.566667,1201.19,-415.700684,-339.372755,20.192500,11.724691,-8.486582,25.987500,7.238621,-15.782107,NaN,35.131065,15.87,100.99,12353.8,NaN,14421.3,7649.3,2617.6,10693.0,7007.9,8593.8,2146.5,1317.7,NaN,47650.8,10000.0,14490.6,554.6
5825,1989,Thailand,2617.6,2333.10,2346.666667,7007.9,7015.85,7023.900000,8593.8,8217.40,9630.200000,2146.5,2080.60,2071.133333,47650.8,47328.05,46261.433333,554.6,902.30,999.266667,10693.0,10612.10,10935.500000,NaN,NaN,NaN,1317.7,1215.55,1231.566667,NaN,NaN,NaN,14490.6,14452.85,14415.100000,7649.3,7598.25,7581.233333,10000.0,10000.00,9999.433333,12353.8,12346.90,12324.100000,14421.3,14343.70,13783.966667,1215.08,-275.732618,-480.163017,20.199167,9.939639,-5.837884,25.665000,10.485556,-13.079569,NaN,43.465309,15.87,100.99,12197.0,1013.8,15230.1,7649.3,2569.0,12083.3,6914.1,8333.3,2085.3,1338.3,NaN,55598.0,10000.0,14566.0,725.4
5826,1990,Thailand,2569.0,2593.30,2411.733333,6914.1,6961.00,6981.933333,8333.3,8463.55,8256.033333,2085.3,2115.90,2082.166667,55598.0,51624.40,50084.700000,725.4,640.00,843.333333,12083.3,11388.15,11102.500000,1013.8,NaN,NaN,1338.3,1328.00,1256.466667,NaN,NaN,NaN,14566.0,14528.30,14490.566667,7649.3,7649.30,7615.266667,10000.0,10000.00,10000.000000,12197.0,12275.40,12296.933333,15230.1,14825.70,14639.166667,1051.13,-277.526524,-475.521754,20.306667,6.742326,-3.126858,25.886667,10.205024,-10.630890,NaN,46.574313,15.87,100.99,12746.4,1183.1,13915.9,7629.6,2409.0,12414.3,6965.0,9000.0,1955.6,1299.8,NaN,48894.2,10000.0,15074.0,610.7
5827,1991,Thailand,2409.0,2489.00,2531.866667,6965.0,6939.55,6962.333333,9000.0,8666.65,8642.366667,1955.6,2020.45,2062.466667,48894.2,52246.10,50714.333333,610.7,668.05,630.233333,12414.3,12248.80,11730.200000,1183.1,1098.45,NaN,1299.8,1319.05,1318.600000,NaN,NaN,NaN,15074.0,14820.00,14710.200000,7629.6,7639.45,7642.733333,10000.0,10000.00,10000.000000,12746.4,12471.70,12432.400000,13915.9,14573.00,14522.433333,1161.95,-365.901735,-384.348614,20.354167,9.391652,-6.747691,26.312500,11.037344,-11.874383,18849.0,59.665657,15.87,100.99,11802.9,718.1,13745.3,7677.8,2711.7,12746.6,6954.4,8333.3,2253.4,1368.6,NaN,52342.9,23622.9,14444.4,486.1
5828,1992,Thailand,2711.7,2560.35,2563.233333,6954.4,6959.70,6944.500000,8333.3,8666.65,8555.533333,2253.4,2104.50,2098.100000,52342.9,50618.55,52278.366667,486.1,548.40,607.400000,12746.6,12580.45,12414.733333,718.1,950.60,971.666667,1368.6,1334.20,1335.566667,NaN,NaN,NaN,14444.4,14759.20,14694.800000,7677.8,7653.70,7652.233333,23622.9,16811.45,14540.966667,11802.9,12274.65,12248.766667,13745.3,13830.60,14297.100000,980.33,-345.367148,-377.000559,19.943333,13.687530,-3.800641,26.247500,12.106319,-13.284569,18849.0,54.945745,15.87,100.99,11680.6,667.4,14033.2,7647.1,2970.9,12439.7,6986.6,12857.1,2174.5,1399.0,NaN,52330.6,24652.8,14302.3,675.3
5829,1993,Thailand,2970.9,2841.30,2697.200000,6986.6,6970.50,6968.666667,12857.1,10595.20,10063.466667,2174.5,2213.95,2127.833333,52330.6,52336.75,51189.233333,675.3,580.70,590.700000,12439.7,12593.15,12533.533333,667.4,692.75,856.200000,1399.0,1383.80,1355.800000,NaN,NaN,NaN,14302.3,14373.35,14606.900000,7647.1,7662.45,7651.500000,24652.8,24137.85,19425.233333,11680.6,11741.75,12076.633333,14033.2,13889.25,13898.133333,966.33,-431.424416,-427.982876,20.220833,12.783940,-7.166755,25.912500,13.303177,-18.893023,18849.0,64.845110,15.87,100.99,11893.0,1000.0,14049.1,7636.4,2733.3,13704.1,7022.9,12500.0,2049.7,1350.8,NaN,40630.9,21805.6,14522.1,616.7
5830,1994,Thailand,2733.3,2852.10,2805.300000,7022.9,7004.75,6987.966667,12500.0,12678.55,11230.133333,2049.7,2112.10,2159.200000,40630.9,46480.75,48434.800000,616.7,646.00,592.700000,13704.1,13071.90,12963.466667,1000.0,833.70,795.166667,1350.8,1374.90,1372.800000,NaN,NaN,NaN,14522.1,14412.20,14422.933333,7636.4,7641.75,7653.766667,21805.6,23229.20,23360.433333,11893.0,11786.80,11792.166667,14049.1,14041.15,13942.533333,841.23,-264.370456,-373.521768,20.366667,9.809332,-7.116685,25.994167,5.985775,-15.853011,18849.0,85.162423,15.87,100.99,12782.0,1298.7,13807.3,8958.3,2934.4,13815.1,7274.1,13333.3,2352.1,1334.4,NaN,47305.9,21414.9,14000.0,700.0
5831,1995,Thailand,2934.4,2833.85,2879.533333,7274.1,7148.50,7094.533333,13333.3,12916.65,12896.800000,2352.1,2200.90,2192.100000,47305.9,43968.40,46755.800000,700.0,658.35,664.000000,13815.1,13759.60,13319.633333,1298.7,1149.35,988.700000,1334.4,1342.60,1361.400000,NaN,NaN,NaN,14000.0,14261.05,14274.800000,8958.3,8297.35,8080.600000,21414.9,21610.25,22624.433333,12782.0,12337.50,12118.533333,13807.3,13928.20,13963.200000,1240.47,-191.889506,-546.902820,20.288333,8.301274,-0.513423,25.660833,11.486094,-9.458140,20448.0,79.634618,15.87,100.99,12963.0,1600.0,13024.4,8800.0,3288.4,14692.1,7142.9,14000.0,2415.8,1401.7,NaN,54835.9,25408.3,14181.8,678.2
5832,1996,Thailand,3288.4,3111.40,2985.366667,7142.9,7208.50,7146.633333,14000.0,13666.65,13277.766667,2415.8,2383.95,2272.533333,54835.9,51070.90,47590.900000,678.2,689.10,664.966667,14692.1,14253.60,14070.433333,1600.0,1449.35,1299.566667,1401.7,1368.05,1362.300000,NaN,NaN,NaN,14181.8,14090.90,14234.633333,8800.0,8879.15,8464.900000,25408.3,23411.60,22876.266667,12963.0,12872.50,12546.000000,13024.4,13415.85,13626.933333,1329.82,-560.773038,-652.018309,19.918333,13.778966,-8.480678,25.510000,9.347973,-16.428203,24062.0,88.335287,15.87,100.99,12308.0,1839.2,14158.1,8750.0,3447.8,15644.7,7115.4,17124.9,2409.8,1405.3,NaN,58856.1,23532.0,14807.7,645.5
5833,1997,Thailand,3447.8,3368.10,3223.533333,7115.4,7129.15,7177.466667,17124.9,15562.45,14819.400000,2409.8,2412.80,2392.566667,58856.1,56846.00,53665.966667,645.5,661.85,674.566667,15644.7,15168.40,14717.300000,1839.2,1719.60,1579.300000,1405.3,1403.50,1380.466667,NaN,NaN,NaN,14807.7,14494.75,14329.833333,8750.0,8775.00,8836.100000,23532.0,24470.15,23451.733333,12308.0,12635.50,12684.333333,14158.1,13591.25,13663.266667,1291.58,-403.436100,-367.596269,19.107500,13.060960,-9.954043,25.095833,4.040955,-15.958421,23622.0,88.234556,15.87,100.99,13076.9,1802.5,14697.6,9087.3,3198.2,14521.8,7212.3,16669.9,2378.8,1431.5,NaN,57529.0,16399.5,14378.5,685.2
5834,1998,Thailand,3198.2,3323.00,3311.466667,7212.3,7163.85,7156.866667,16669.9,16897.40,15931.600000,2378.8,2394.30,2401.466667,57529.0,58192.55,57073.666667,685.2,665.35,669.633333,14521.8,15083.25,14952.866667,1802.5,1820.85,1747.233333,1431.5,1418.40,1412.833333,NaN,NaN,NaN,14378.5,14593.10,14456.000000,9087.3,8918.65,8879.100000,16399.5,19965.75,21779.933333,13076.9,12692.45,12782.633333,14697.6,14427.85,13960.033333,996.30,-373.938035,-346.095304,19.935833,8.375075,-9.132377,26.249167,5.616211,-12.927459,23960.0,85.031865,15.87,100.99,12835.8,1843.8,14928.0,9163.3,3344.8,12277.4,7259.3,12347.3,2418.0,1465.2,NaN,46063.9,22746.0,14444.4,689.4
5835,1999,Thailand,3344.8,3271.50,3330.266667,7259.3,7235.80,7195.666667,12347.3,14508.60,15380.700000,2418.0,2398.40,2402.200000,46063.9,51796.45,54149.666667,689.4,687.30,673.366667,12277.4,13399.60,14147.966667,1843.8,1823.15,1828.500000,1465.2,1448.35,1434.000000,NaN,NaN,NaN,14444.4,14411.45,14543.533333,9163.3,9125.30,9000.200000,22746.0,19572.75,20892.500000,12835.8,12956.35,12740.233333,14928.0,14812.80,14594.566667,1125.98,-295.523774,-461.566886,19.727500,7.692211,-12.384787,26.955000,12.441845,-11.978306,19212.0,93.069532,15.87,100.99,12837.8,1983.8,15492.9,7720.6,3552.6,15858.3,7823.7,13077.6,2424.4,1420.1,NaN,54855.4,23294.7,14545.5,693.1
5836,2000,Thailand,3552.6,3448.70,3365.200000,7823.7,7541.50,7431.766667,13077.6,12712.45,14031.600000,2424.4,2421.20,2407.066667,54855.4,50459.65,52816.100000,693.1,691.25,689.233333,15858.3,14067.85,14219.166667,1983.8,1913.80,1876.700000,1420.1,1442.65,1438.933333,NaN,NaN,NaN,14545.5,14494.95,14456.133333,7720.6,8441.95,8657.066667,23294.7,23020.35,20813.400000,12837.8,12836.80,12916.833333,15492.9,15210.45,15039.500000,1163.57,-254.458910,-473.710328,19.019167,9.485460,-8.196633,25.005833,7.909390,-13.215364,22761.0,100.075382,15.87,100.99,12988.5,1869.0,16857.0,12088.1,3671.5,14531.1,8607.1,13077.6,2612.8,1453.1,NaN,59161.4,23954.8,15043.1,696.9
5837,2001,Thailand,3671.5,3612.05,3522.966667,8607.1,8215.40,7896.700000,13077.6,13077.60,12834.166667,2612.8,2518.60,2485.066667,59161.4,57008.40,53360.233333,696.9,695.00,693.133333,14531.1,15194.70,14222.266667,1869.0,1926.40,1898.866667,1453.1,1436.60,1446.133333,NaN,NaN,NaN,15043.1,14794.30,14677.666667,12088.1,9904.35,9657.333333,23954.8,23624.75,23331.833333,12988.5,12913.15,12887.366667,16857.0,16174.95,15759.300000,1186.63,-352.170642,-503.380425,19.209167,9.265897,-2.342865,25.240833,6.465903,-10.572633,20334.0,88.310382,15.87,100.99,13366.3,1899.5,17532.4,11770.0,3732.9,16868.6,9073.2,12090.4,2873.9,1477.5,NaN,56512.6,22969.6,17446.3,701.0