# Label Preparation and Final Dataset Creation (Part 4)

## Objective
This notebook handles the final piece of the puzzle: the "Labels" (Target Variables). In Part 3, we built the features (inputs). Now, we need to structure the crop yield data so the model knows what to predict.

**Key Steps:**
1.  **Load Data:** Import the features from Part 3 and the raw yield data.
2.  **Clean & Pivot:** Convert the yield data from "long" format (rows) to "wide" format (columns).
3.  **Merge:** Combine the Features (X) and Labels (Y) into one final dataset.
4.  **Save:** Export the ready-to-use dataset as `XY_v2.parquet`.

In [1]:
import pandas as pd
import numpy as np

### 1. Load Features and Raw Labels
We import our feature set (`x_features_v2.parquet`) and the raw crop yield data (`label_yield.parquet`). The raw yield data is currently in a "long" format, which means different crops are stacked in rows.

In [2]:
# Load Features created in Part 3
X = pd.read_parquet('Parquet/x_features_v2.parquet')

# Load Raw Yield Data
label_yield = pd.read_parquet('Parquet/label_yield.parquet')

### 2. Standardize Crop Names
Machine learning models prefer clean, consistent names. We process the `item` column to remove special characters and spaces, converting names like "Maize (corn)" to `maize_corn`. This prevents errors during column creation.

In [3]:
label_yield['item'] = label_yield['item'].str.replace(r'[^0-9a-zA-Z ]', '', regex=True)
label_yield['item'] = label_yield['item'].str.replace(" ", "_").str.lower()

# Display sample to verify cleaning
label_yield.head()

          area        item        year   label
0  Afghanistan  maize_corn  1970-12-31  1475.7
1  Afghanistan  maize_corn  1971-12-31  1340.0
2  Afghanistan  maize_corn  1972-12-31  1565.2
3  Afghanistan  maize_corn  1973-12-31  1617.0
4  Afghanistan  maize_corn  1974-12-31  1617.0

### 3. Create Target Columns (Pivoting)
We need a separate column for each crop so we can predict them individually.
* **Current Format (Long):** One row per crop per year.
* **New Format (Wide):** One row per year, with columns like `Y_rice`, `Y_wheat`, `Y_maize`.

We use the `pivot_table` function to transform the data structure.

In [4]:
# Extract Year as integer
label_yield['year'] = pd.to_datetime(label_yield['year']).dt.year

# Pivot the table
Y = label_yield.pivot_table(
    index=['year','area'],  # Unique identifier for row
    columns='item',         # Create columns for each crop
    values='label'          # The Yield value
).reset_index()

### 4. Rename Columns
To avoid confusion between our *features* (inputs) and our *targets* (outputs), we add a prefix `Y_` to all the new crop columns. For example, the target for Rice becomes `Y_rice`.

In [5]:
# Dynamically generate column list
current_cols = Y.columns.tolist()

# Identify crop columns (those that represent items)
crop_cols = [c for c in current_cols if c not in ['year', 'area']]

# Create new column mapping
new_col_names = ['year', 'area'] + [f'Y_{c}' for c in crop_cols]
Y.columns = new_col_names

# Display structure
Y.head()

,year,area,Y_bananas,Y_barley,Y_cassava_fresh,Y_cucumbers_and_gherkins,Y_maize_corn,Y_oil_palm_fruit,Y_other_vegetables_fresh_nec,Y_potatoes,Y_rice,Y_soya_beans,Y_sugar_beet,Y_sugar_cane,Y_tomatoes,Y_watermelons,Y_wheat
0,1970,Afghanistan,NaN,1174.6,NaN,NaN,1475.7,NaN,6127.8,9536.4,1811.9,NaN,14090.9,22000.0,NaN,7229.4,956.3
1,1970,Albania,NaN,1077.8,NaN,NaN,2071.8,NaN,12278.3,5469.3,2970.5,NaN,23638.9,NaN,12333.3,NaN,1537.7
2,1970,Algeria,NaN,668.5,NaN,NaN,1023.5,NaN,4891.3,6254.2,1581.0,NaN,19719.9,NaN,9449.6,8977.0,624.5
3,1970,Angola,10000.0,NaN,3555.6,NaN,912.0,9523.8,6515.7,6296.3,1198.0,NaN,NaN,50932.6,3076.9,NaN,854.6
4,1970,Antigua_and_Barbuda,1500.0,NaN,4000.0,4615.4,2400.0,NaN,6250.0,NaN,NaN,NaN,NaN,37272.7,3437.5,NaN,NaN

### 5. Merge Features and Labels
Now we combine everything. We perform an **inner join** between our Feature table (X) and our Label table (Y) based on `year` and `area`. This ensures every row in our final dataset has both input features and a target value to learn from.

In [6]:
XY = X.merge(Y, on=['year', 'area'], how='inner')

# Output the shape to verify merge
print(f"Final dataset shape: {XY.shape}")

Final dataset shape: (6631, 81)

### 6. Save Final Dataset
We export the merged dataframe to `XY_v2.parquet`. This file contains everything needed to train the model in the next step.

In [7]:
# Save to Parquet
XY.to_parquet('Parquet/XY_v2.parquet')

In [8]:

# Prevent pandas from hiding columns
pd.set_option('display.max_columns', None)

# Show first 20 rows for Thailand
XY[XY['area'] == 'Thailand'].head(20)

,year,area,avg_yield_maize_corn_1y,avg_yield_maize_corn_3y,avg_yield_maize_corn_5y,avg_yield_other_vegetables_fresh_nec_1y,avg_yield_other_vegetables_fresh_nec_3y,avg_yield_other_vegetables_fresh_nec_5y,avg_yield_potatoes_1y,avg_yield_potatoes_3y,avg_yield_potatoes_5y,avg_yield_rice_1y,avg_yield_rice_3y,avg_yield_rice_5y,avg_yield_sugar_cane_1y,avg_yield_sugar_cane_3y,avg_yield_sugar_cane_5y,avg_yield_wheat_1y,avg_yield_wheat_3y,avg_yield_wheat_5y,avg_yield_oil_palm_fruit_1y,avg_yield_oil_palm_fruit_3y,avg_yield_oil_palm_fruit_5y,avg_yield_barley_1y,avg_yield_barley_3y,avg_yield_barley_5y,avg_yield_soya_beans_1y,avg_yield_soya_beans_3y,avg_yield_soya_beans_5y,avg_yield_sugar_beet_1y,avg_yield_sugar_beet_3y,avg_yield_sugar_beet_5y,avg_yield_watermelons_1y,avg_yield_watermelons_3y,avg_yield_watermelons_5y,avg_yield_cucumbers_and_gherkins_1y,avg_yield_cucumbers_and_gherkins_3y,avg_yield_cucumbers_and_gherkins_5y,avg_yield_tomatoes_1y,avg_yield_tomatoes_3y,avg_yield_tomatoes_5y,avg_yield_bananas_1y,avg_yield_bananas_3y,avg_yield_bananas_5y,avg_yield_cassava_fresh_1y,avg_yield_cassava_fresh_3y,avg_yield_cassava_fresh_5y,sum_rain_winter,sum_rain_spring,sum_rain_summer,sum_rain_autumn,sum_rain_annual,avg_solar_winter,avg_solar_spring,avg_solar_summer,avg_solar_autumn,avg_solar_annual,avg_temp_winter,avg_temp_spring,avg_temp_summer,avg_temp_autumn,avg_temp_annual,pesticides_lag1,fertilizer_lag1,latitude,longitude,Y_bananas,Y_barley,Y_cassava_fresh,Y_cucumbers_and_gherkins,Y_maize_corn,Y_oil_palm_fruit,Y_other_vegetables_fresh_nec,Y_potatoes,Y_rice,Y_soya_beans,Y_sugar_beet,Y_sugar_cane,Y_tomatoes,Y_watermelons,Y_wheat
5818,1982,Thailand,2353.8,2197.466667,2086.82,6233.6,6408.166667,6405.22,9987.5,8895.866667,9506.94,1952.1,1886.933333,1841.40,43488.8,38131.800000,40210.50,NaN,NaN,NaN,10116.5,10013.966667,10526.08,NaN,NaN,NaN,1052.0,1006.466667,969.92,NaN,NaN,NaN,15123.1,14501.033333,13719.50,7516.0,7987.566667,7690.60,7373.8,7012.533333,6071.66,12307.7,12076.933333,11966.16,14273.9,14330.400000,14551.56,13.22,277.48,495.59,329.27,1115.56,NaN,NaN,NaN,NaN,NaN,22.730000,28.180000,25.583333,24.303333,25.199167,NaN,18.580125,15.87,100.99,11923.1,NaN,16361.4,7021.2,2298.8,10261.8,6656.3,11898.8,1888.0,1123.6,NaN,49240.5,8655.1,15020.0,NaN
5819,1983,Thailand,2298.8,2293.633333,2203.04,6656.3,6498.733333,6455.22,11898.8,9882.933333,9789.54,1888.0,1909.300000,1900.80,49240.5,40955.700000,39495.76,NaN,NaN,NaN,10261.8,10007.566667,10136.96,NaN,NaN,NaN,1123.6,1041.800000,1047.34,NaN,NaN,NaN,15020.0,15052.033333,14179.26,7021.2,7890.466667,7654.84,8655.1,8541.200000,6902.14,11923.1,12051.300000,11950.78,16361.4,15128.066667,14972.82,40.41,147.26,420.47,428.45,1036.59,NaN,NaN,NaN,NaN,NaN,23.150000,30.103333,26.676667,24.500000,26.107500,NaN,18.704576,15.87,100.99,11769.2,NaN,18655.4,7635.6,2267.4,8361.8,6695.3,14216.0,2035.1,1149.3,NaN,42288.8,11372.1,16079.6,NaN
5820,1984,Thailand,2267.4,2306.666667,2231.72,6695.3,6528.400000,6515.22,14216.0,12034.100000,10560.48,2035.1,1958.400000,1916.78,42288.8,45006.033333,41184.94,NaN,NaN,NaN,8361.8,9580.033333,9733.10,NaN,NaN,NaN,1149.3,1108.300000,1058.46,NaN,NaN,NaN,16079.6,15407.566667,14920.54,7635.6,7390.933333,7723.90,11372.1,9133.666667,8212.96,11769.2,12000.000000,11984.62,18655.4,16430.233333,15601.60,31.93,152.61,528.89,397.50,1110.93,NaN,NaN,NaN,NaN,NaN,22.856667,30.083333,26.510000,23.630000,25.770000,NaN,27.797375,15.87,100.99,11884.6,NaN,14968.8,7183.2,2430.5,8694.8,6795.3,10471.0,2067.0,1275.4,NaN,44540.8,7828.6,15604.8,NaN
5821,1985,Thailand,2430.5,2332.233333,2315.76,6795.3,6715.633333,6597.36,10471.0,12195.266667,10867.16,2067.0,1996.700000,1966.00,44540.8,45356.700000,41939.34,NaN,NaN,NaN,8694.8,9106.133333,9415.86,NaN,NaN,NaN,1275.4,1182.766667,1110.02,NaN,NaN,NaN,15604.8,15568.133333,15368.10,7183.2,7280.000000,7698.04,7828.6,9285.266667,8964.86,11884.6,11858.966667,11961.54,14968.8,16661.866667,15801.68,27.90,180.03,445.40,309.94,963.27,19.080000,22.120000,19.033333,18.316667,19.637500,23.693333,28.200000,26.096667,24.600000,25.647500,NaN,25.613470,15.87,100.99,12153.8,NaN,13994.1,7856.4,2571.9,11445.5,7352.9,12284.1,2060.8,1284.8,NaN,47180.3,11355.1,14293.6,NaN
5822,1986,Thailand,2571.9,2423.266667,2384.48,7352.9,6947.833333,6746.68,12284.1,12323.700000,11771.48,2060.8,2054.300000,2000.60,47180.3,44669.966667,45347.84,NaN,NaN,NaN,11445.5,9500.700000,9776.08,NaN,NaN,NaN,1284.8,1236.500000,1177.02,NaN,NaN,NaN,14293.6,15326.000000,15224.22,7856.4,7558.400000,7442.48,11355.1,10185.266667,9316.94,12153.8,11935.866667,12007.68,13994.1,15872.766667,15650.72,28.80,251.81,368.31,381.85,1030.77,20.763333,23.440000,20.113333,18.540000,20.714167,24.686667,28.986667,25.663333,24.623333,25.990000,NaN,25.354604,15.87,100.99,12278.5,NaN,12664.5,7547.2,2373.8,11582.3,7040.0,12455.8,2052.2,1263.6,NaN,44128.2,9998.3,14339.6,1193.2
5823,1987,Thailand,2373.8,2458.733333,2388.48,7040.0,7062.733333,6907.96,12455.8,11736.966667,12265.14,2052.2,2060.000000,2020.62,44128.2,45283.100000,45475.72,1193.2,NaN,NaN,11582.3,10574.200000,10069.24,NaN,NaN,NaN,1263.6,1274.600000,1219.34,NaN,NaN,NaN,14339.6,14746.000000,15067.52,7547.2,7528.933333,7448.72,9998.3,9727.333333,9841.84,12278.5,12105.633333,12001.84,12664.5,13875.800000,15328.84,4.51,263.40,391.18,247.09,906.18,20.196667,24.043333,20.926667,20.233333,21.350000,24.076667,28.260000,26.143333,25.056667,25.884167,NaN,31.555306,15.87,100.99,12340.0,NaN,14266.1,7547.2,2048.6,10531.2,7023.8,7841.0,2014.7,1113.4,NaN,47005.3,10000.0,14415.1,1250.0
5824,1988,Thailand,2048.6,2331.433333,2338.44,7023.8,7138.900000,6981.46,7841.0,10860.300000,11453.58,2014.7,2042.566667,2045.96,47005.3,46104.600000,45028.68,1250.0,NaN,NaN,10531.2,11186.333333,10123.12,NaN,NaN,NaN,1113.4,1220.600000,1217.30,NaN,NaN,NaN,14415.1,14349.433333,14946.54,7547.2,7650.266667,7553.92,10000.0,10451.133333,10110.82,12340.0,12257.433333,12085.22,14266.1,13641.566667,14909.78,23.74,273.39,426.22,477.84,1201.19,20.223333,22.436667,20.183333,17.926667,20.192500,23.413333,28.596667,26.873333,25.066667,25.987500,NaN,35.131065,15.87,100.99,12353.8,NaN,14421.3,7649.3,2617.6,10693.0,7007.9,8593.8,2146.5,1317.7,NaN,47650.8,10000.0,14490.6,554.6
5825,1989,Thailand,2617.6,2346.666667,2408.48,7007.9,7023.900000,7043.98,8593.8,9630.200000,10329.14,2146.5,2071.133333,2068.24,47650.8,46261.433333,46101.08,554.6,999.266667,NaN,10693.0,10935.500000,10589.36,NaN,NaN,NaN,1317.7,1231.566667,1250.98,NaN,NaN,NaN,14490.6,14415.100000,14628.74,7649.3,7581.233333,7556.66,10000.0,9999.433333,9836.40,12353.8,12324.100000,12202.14,14421.3,13783.966667,14062.96,25.88,380.68,454.56,353.96,1215.08,19.963333,22.226667,19.790000,18.816667,20.199167,24.246667,28.456667,26.090000,23.866667,25.665000,NaN,43.465309,15.87,100.99,12197.0,1013.8,15230.1,7649.3,2569.0,12083.3,6914.1,8333.3,2085.3,1338.3,NaN,55598.0,10000.0,14566.0,725.4
5826,1990,Thailand,2569.0,2411.733333,2436.18,6914.1,6981.933333,7067.74,8333.3,8256.033333,9901.60,2085.3,2082.166667,2071.90,55598.0,50084.700000,48312.52,725.4,843.333333,NaN,12083.3,11102.500000,11267.06,1013.8,NaN,NaN,1338.3,1256.466667,1263.56,NaN,NaN,NaN,14566.0,14490.566667,14420.98,7649.3,7615.266667,7649.88,10000.0,10000.000000,10270.68,12197.0,12296.933333,12264.62,15230.1,14639.166667,14115.22,7.29,308.88,453.35,281.61,1051.13,20.036667,21.956667,19.756667,19.476667,20.306667,24.600000,28.726667,25.723333,24.496667,25.886667,NaN,46.574313,15.87,100.99,12746.4,1183.1,13915.9,7629.6,2409.0,12414.3,6965.0,9000.0,1955.6,1299.8,NaN,48894.2,10000.0,15074.0,610.7
5827,1991,Thailand,2409.0,2531.866667,2403.60,6965.0,6962.333333,6990.16,9000.0,8642.366667,9244.78,1955.6,2062.466667,2050.86,48894.2,50714.333333,48655.30,610.7,630.233333,866.78,12414.3,11730.200000,11460.82,1183.1,NaN,NaN,1299.8,1318.600000,1266.56,NaN,NaN,NaN,15074.0,14710.200000,14577.06,7629.6,7642.733333,7604.52,10000.0,10000.000000,9999.66,12746.4,12432.400000,12383.14,13915.9,14522.433333,14099.58,18.29,298.50,422.33,422.83,1161.95,20.016667,22.240000,20.470000,18.690000,20.354167,25.016667,29.256667,26.303333,24.673333,26.312500,18849.0,59.665657,15.87,100.99,11802.9,718.1,13745.3,7677.8,2711.7,12746.6,6954.4,8333.3,2253.4,1368.6,NaN,52342.9,23622.9,14444.4,486.1
5828,1992,Thailand,2711.7,2563.233333,2471.18,6954.4,6944.500000,6973.04,8333.3,8555.533333,8420.28,2253.4,2098.100000,2091.10,52342.9,52278.366667,50298.24,486.1,607.400000,725.36,12746.6,12414.733333,11693.68,718.1,971.666667,NaN,1368.6,1335.566667,1287.56,NaN,NaN,NaN,14444.4,14694.800000,14598.02,7677.8,7652.233333,7630.64,23622.9,14540.966667,12724.58,11802.9,12248.766667,12288.02,13745.3,14297.100000,14315.74,45.72,231.42,446.68,256.51,980.33,19.520000,22.696667,18.630000,18.926667,19.943333,24.796667,29.483333,26.453333,24.256667,26.247500,18849.0,54.945745,15.87,100.99,11680.6,667.4,14033.2,7647.1,2970.9,12439.7,6986.6,12857.1,2174.5,1399.0,NaN,52330.6,24652.8,14302.3,675.3
5829,1993,Thailand,2970.9,2697.200000,2655.64,6986.6,6968.666667,6965.60,12857.1,10063.466667,9423.50,2174.5,2127.833333,2123.06,52330.6,51189.233333,51363.30,675.3,590.700000,610.42,12439.7,12533.533333,12075.38,667.4,856.200000,NaN,1399.0,1355.800000,1344.68,NaN,NaN,NaN,14302.3,14606.900000,14575.46,7647.1,7651.500000,7650.62,24652.8,19425.233333,15655.14,11680.6,12076.633333,12156.14,14033.2,13898.133333,14269.16,39.27,132.22,499.02,295.82,966.33,19.740000,23.023333,19.556667,18.563333,20.220833,23.373333,30.386667,26.343333,23.546667,25.912500,18849.0,64.845110,15.87,100.99,11893.0,1000.0,14049.1,7636.4,2733.3,13704.1,7022.9,12500.0,2049.7,1350.8,NaN,40630.9,21805.6,14522.1,616.7
5830,1994,Thailand,2733.3,2805.300000,2678.78,7022.9,6987.966667,6968.60,12500.0,11230.133333,10204.74,2049.7,2159.200000,2103.70,40630.9,48434.800000,49959.32,616.7,592.700000,622.84,13704.1,12963.466667,12677.60,1000.0,795.166667,916.48,1350.8,1372.800000,1351.30,NaN,NaN,NaN,14522.1,14422.933333,14581.76,7636.4,7653.766667,7648.04,21805.6,23360.433333,18016.26,11893.0,11792.166667,12063.98,14049.1,13942.533333,14194.72,3.52,243.16,343.62,250.93,841.23,19.670000,22.393333,20.256667,19.146667,20.366667,23.243333,28.710000,26.906667,25.116667,25.994167,18849.0,85.162423,15.87,100.99,12782.0,1298.7,13807.3,8958.3,2934.4,13815.1,7274.1,13333.3,2352.1,1334.4,NaN,47305.9,21414.9,14000.0,700.0
5831,1995,Thailand,2934.4,2879.533333,2751.86,7274.1,7094.533333,7040.60,13333.3,12896.800000,11204.74,2352.1,2192.100000,2157.06,47305.9,46755.800000,48300.90,700.0,664.000000,617.76,13815.1,13319.633333,13023.96,1298.7,988.700000,973.46,1334.4,1361.400000,1350.52,NaN,NaN,NaN,14000.0,14274.800000,14468.56,8958.3,8080.600000,7909.84,21414.9,22624.433333,20299.24,12782.0,12118.533333,12180.98,13807.3,13963.200000,13910.16,44.42,403.81,557.97,234.27,1240.47,20.190000,22.060000,19.236667,19.666667,20.288333,25.323333,27.946667,25.583333,23.790000,25.660833,20448.0,79.634618,15.87,100.99,12963.0,1600.0,13024.4,8800.0,3288.4,14692.1,7142.9,14000.0,2415.8,1401.7,NaN,54835.9,25408.3,14181.8,678.2
5832,1996,Thailand,3288.4,2985.366667,2927.74,7142.9,7146.633333,7076.18,14000.0,13277.766667,12204.74,2415.8,2272.533333,2249.10,54835.9,47590.900000,49489.24,678.2,664.966667,631.26,14692.1,14070.433333,13479.52,1600.0,1299.566667,1056.84,1401.7,1362.300000,1370.90,NaN,NaN,NaN,14181.8,14234.633333,14290.12,8800.0,8464.900000,8143.92,25408.3,22876.266667,23380.90,12963.0,12546.000000,12224.30,13024.4,13626.933333,13731.86,6.37,258.75,720.21,344.49,1329.82,19.733333,22.446667,19.933333,17.560000,19.918333,22.746667,29.093333,25.890000,24.310000,25.510000,24062.0,88.335287,15.87,100.99,12308.0,1839.2,14158.1,8750.0,3447.8,15644.7,7115.4,17124.9,2409.8,1405.3,NaN,58856.1,23532.0,14807.7,645.5
5833,1997,Thailand,3447.8,3223.533333,3074.96,7115.4,7177.466667,7108.38,17124.9,14819.400000,13963.06,2409.8,2392.566667,2280.38,58856.1,53665.966667,50791.88,645.5,674.566667,663.14,15644.7,14717.300000,14059.14,1839.2,1579.300000,1281.06,1405.3,1380.466667,1378.24,NaN,NaN,NaN,14807.7,14329.833333,14362.78,8750.0,8836.100000,8358.36,23532.0,23451.733333,23362.72,12308.0,12684.333333,12325.32,14158.1,13663.266667,13814.42,26.98,315.82,427.09,521.69,1291.58,18.260000,22.196667,19.016667,16.956667,19.107500,21.956667,27.880000,26.166667,24.380000,25.095833,23622.0,88.234556,15.87,100.99,13076.9,1802.5,14697.6,9087.3,3198.2,14521.8,7212.3,16669.9,2378.8,1431.5,NaN,57529.0,16399.5,14378.5,685.2
5834,1998,Thailand,3198.2,3311.466667,3120.42,7212.3,7156.866667,7153.52,16669.9,15931.600000,14725.62,2378.8,2401.466667,2321.24,57529.0,57073.666667,51831.56,685.2,669.633333,665.12,14521.8,14952.866667,14475.56,1802.5,1747.233333,1508.08,1431.5,1412.833333,1384.74,NaN,NaN,NaN,14378.5,14456.000000,14378.02,9087.3,8879.100000,8646.40,16399.5,21779.933333,21712.06,13076.9,12782.633333,12604.58,14697.6,13960.033333,13947.30,3.95,253.05,375.78,363.52,996.30,18.963333,22.146667,19.966667,18.666667,19.935833,24.196667,28.680000,26.983333,25.136667,26.249167,23960.0,85.031865,15.87,100.99,12835.8,1843.8,14928.0,9163.3,3344.8,12277.4,7259.3,12347.3,2418.0,1465.2,NaN,46063.9,22746.0,14444.4,689.4
5835,1999,Thailand,3344.8,3330.266667,3242.72,7259.3,7195.666667,7200.80,12347.3,15380.700000,14695.08,2418.0,2402.200000,2394.90,46063.9,54149.666667,52918.16,689.4,673.366667,679.66,12277.4,14147.966667,14190.22,1843.8,1828.500000,1676.84,1465.2,1434.000000,1407.62,NaN,NaN,NaN,14444.4,14543.533333,14362.48,9163.3,9000.200000,8951.78,22746.0,20892.500000,21900.14,12835.8,12740.233333,12793.14,14928.0,14594.566667,14123.08,53.43,277.21,510.22,285.12,1125.98,18.276667,22.026667,20.413333,18.193333,19.727500,25.510000,30.226667,26.856667,25.226667,26.955000,19212.0,93.069532,15.87,100.99,12837.8,1983.8,15492.9,7720.6,3552.6,15858.3,7823.7,13077.6,2424.4,1420.1,NaN,54855.4,23294.7,14545.5,693.1
5836,2000,Thailand,3552.6,3365.200000,3366.36,7823.7,7431.766667,7310.72,13077.6,14031.600000,14643.94,2424.4,2407.066667,2409.36,54855.4,52816.100000,54428.06,693.1,689.233333,678.28,15858.3,14219.166667,14598.86,1983.8,1876.700000,1813.86,1420.1,1438.933333,1424.76,NaN,NaN,NaN,14545.5,14456.133333,14471.58,7720.6,8657.066667,8704.24,23294.7,20813.400000,22276.10,12837.8,12916.833333,12804.30,15492.9,15039.500000,14460.20,14.97,380.62,439.00,328.98,1163.57,18.373333,21.070000,19.190000,17.443333,19.019167,22.580000,27.676667,25.540000,24.226667,25.005833,22761.0,100.075382,15.87,100.99,12988.5,1869.0,16857.0,12088.1,3671.5,14531.1,8607.1,13077.6,2612.8,1453.1,NaN,59161.4,23954.8,15043.1,696.9
5837,2001,Thailand,3671.5,3522.966667,3442.98,8607.1,7896.700000,7603.56,13077.6,12834.166667,14459.46,2612.8,2485.066667,2448.76,59161.4,53360.233333,55293.16,696.9,693.133333,682.02,14531.1,14222.266667,14566.66,1869.0,1898.866667,1867.66,1453.1,1446.133333,1435.04,NaN,NaN,NaN,15043.1,14677.666667,14643.84,12088.1,9657.333333,9361.86,23954.8,23331.833333,21985.40,12988.5,12887.366667,12809.40,16857.0,15759.300000,15226.72,13.33,309.89,514.22,349.19,1186.63,19.223333,20.956667,18.773333,17.883333,19.209167,23.796667,27.573333,25.653333,23.940000,25.240833,20334.0,88.310382,15.87,100.99,13366.3,1899.5,17532.4,11770.0,3732.9,16868.6,9073.2,12090.4,2873.9,1477.5,NaN,56512.6,22969.6,17446.3,701.0